<li>
  <%= turbo_frame_tag dom_id(conversation) do %>
    <div class="flex mt-6 space-x-3">
      <div class="flex-shrink-0">
        <%= image_tag "male-placeholder-image.png", class: "w-10 h-10 rounded-full" %>
      </div>
      <div>
        <div class="text-sm">
          <%= conversation.user.decorate.display_name %>
          <span class="inline-flex items-center ml-2 px-2 py-1 rounded-full text-xs font-medium bg-gray-200 text-gray-800">
            <%= conversation.field.name.upcase_first %>
          </span>
        </div>
        <div class="mt-1 text-sm text-gray-700 ">
          <p
   x-data="{ isCollapsed: false, maxLength: 500, originalContent: '', content: '' }"
   x-init="originalContent = $el.firstElementChild.textContent.trim(); content = originalContent.slice(0, maxLength)"
   >
            <span x-text="isCollapsed ? originalContent : content" style="white-space: pre-wrap; word-break: break-all;"><%= conversation.body.upcase_first %></span>
            <button
      @click="isCollapsed = !isCollapsed"
      x-show="originalContent.length > maxLength"
              x-text="isCollapsed ? 'Show less' : 'Show more'" style="float:right;" class="btn-inline-edit text-blue-800 hover:text-blue-600 px-3"
              ></button>
          </div>
          <div class="mt-2 space-x-2 text-sm inline-flex">
            <span class="font-normal text-gray-500"><%= display_date(conversation.date) %></span>
            <div>
              <% if policy([conversation.contact, conversation]).edit? %>
                <%= edit_button(edit_contact_conversation_path(@contact, conversation)) %>
              <% end %>
              <% if policy([conversation.contact, conversation]).destroy? %>
                <%= delete_button(contact_conversation_path(@contact, conversation)) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </li>
