<li>
  <%= turbo_frame_tag dom_id(conversation) do %>
    <div class="flex mt-6 space-x-3">
      <div class="flex-shrink-0">
        <%= image_tag "male-placeholder-image.png", class: "w-10 h-10 rounded-full" %>
      </div>
      <div>
        <div class="text-sm">
          <%= conversation.user.decorate.display_name %>
          <span class="inline-flex items-center ml-2 px-2 py-1 rounded-full text-xs font-medium bg-gray-200 text-gray-800">
            <%= conversation.field.name.upcase_first %>
          </span>
        </div>
        <div  class=" text-sm text-gray-700 -mt-4" data-controller="show-more">
          <p style="white-space: pre-line; word-break: break-all;" data-target="show-more.truncate">
            <%=highlight_hashtag(auto_link_urls_in_text(conversation.body.truncate(500).upcase_first)) %>
          </p>
          <p style="white-space: pre-line; word-break: break-all;" data-target="show-more.full" class="hidden">
            <%= highlight_hashtag(auto_link_urls_in_text(conversation.body.upcase_first)) %>
          </p>
          <%if conversation.body.strip.length > 500 %>
            <button type="button"  class=" btn-inline-edit text-blue-800 hover:text-blue-600" data-action="click->show-more#toggle" data-target="show-more.button">
              Show more
            </button>
          <% end %>
        </div>
        <div class="mt-2 space-x-2 text-sm inline-flex">
          <span class="font-normal text-gray-500"><%= display_date(conversation.date) %></span>
          <div class="space-x-1">
            <% if policy([conversation.contact, conversation]).edit? %>
              <%= edit_button(edit_contact_conversation_path(@contact, conversation)) %>
            <% end %>
            <% if policy([conversation.contact, conversation]).destroy? %>
              <%= delete_button(contact_conversation_path(@contact, conversation)) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</li>
