<main class="relative z-0 flex-1 overflow-hidden focus:outline-none">
  <!-- Main 3 column grid -->
  <div class="grid items-start grid-cols-1  lg:grid-cols-4">
    <div class="grid grid-cols-1 col-span-1 lg:gap-4 border-gray-200  "   >
      <!-- Sidebar component, swap this element with another sidebar if you like -->
      <div class="grid grid-cols-1 lg:col-span-1 border-r" >
        <div class="flex-1 flex flex-col min-h-0 ">
          <div class="flex-1 flex flex-col  " >
            <nav class=" flex-1" aria-label="Sidebar">
              <div class="overflow-hidden bg-white  h-screen min-h-full  max-content top-16 overflow-y-scroll overscroll-contain">
                <div class="px-4 sm:px-6 py-6">
                  <div class=" flex flex-wrap items-baseline ">
                    <h1 class="text-3xl font-bold leading-tight text-gray-900">Collections</h1>
                    <p class="mt-2 ml-1 text-sm text-gray-600 truncate">(<%= @collections.count %>)</p>
                  </div>
                  <div class="mt-1 text-sm text-gray-600 pb-2">
                    <p>Below if the list of all collections.</p>
                  </div>
                  <div id="batches_form" class="pb-4">
                    <%= render "form", collection: Collection.new %>
                  </div>
                  <nav class="h-full " id="collections"  data-infinite-scroll-target="entries">
                    <%= render partial: "collection", collection: @collections, cached: false %>
                  </nav>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- Static sidebar for desktop -->
    <% unless @collection.nil? and @batches.nil? %>
      <%= render partial: "show", locals: { collection: @collection, batches: @batches } %>
    <% end %>
    <% unless @batch.nil? and @contacts.nil? %>
      <div class="grid grid-cols-1 lg:col-span-1">
        <div class="grid grid-cols-1 lg:col-span-1 border-r" >
          <div class="flex-1 flex flex-col min-h-0 ">
            <div class="flex-1 flex flex-col  " >
              <nav class=" flex-1" aria-label="Sidebar">
                <div class="overflow-hidden bg-white  h-screen min-h-full  max-content top-16 overflow-y-scroll overscroll-contain">
                  <div class="px-4 sm:px-6 py-6 mb-4">
                    <div class=" flex flex-wrap items-baseline ">
                      <h1 class="text-3xl font-bold leading-tight text-gray-900"><%= @batch.name %></h1>
                      <p class="mt-2 ml-1 text-sm text-gray-600 truncate">(<%= @contacts.count %>)</p>
                    </div>
                    <div class="mt-1 text-sm text-gray-600 pb-2">
                      <p>Below is the list of all contacts in this group.</p>
                    </div>
                    <nav class="h-full " id="contacts"  data-infinite-scroll-target="entries">
                      <ul role="list" class="relative z-0 divide-y divide-gray-200  " id="contacts"  data-infinite-scroll-target="entries" >
                        <%= render partial: "contact", collection: @contacts, cached: false %>
                      </ul>
                    </nav>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% unless @events.nil? %>
      <div class="grid grid-cols-1 lg:col-span-1">
        <div class="grid grid-cols-1 lg:col-span-1 border-r" >
          <div class="flex-1 flex flex-col min-h-0 ">
            <div class="flex-1 flex flex-col  " >
              <nav class=" flex-1" aria-label="Sidebar">
                <div class="overflow-hidden bg-white  h-screen min-h-full  max-content top-16 overflow-y-scroll overscroll-contain">
                  <div class="px-4 sm:px-6 py-6 mb-4">
                    <div class=" flex flex-wrap items-baseline ">
                      <h1 class="text-3xl font-bold leading-tight text-gray-900">Activities</h1>
                      <p class="mt-2 ml-1 text-sm text-gray-600 truncate">(12)</p>
                    </div>
                    <div class="max-w-5xl mx-auto pb-12">
                      <div class="grid grid-cols-2 gap-16 ">
                        <div class="grid grid-cols-1 col-span-2 ">
                          <div>
                            <h2 class="text-sm font-medium text-gray-500 pb-2">Last Activities</h2>
                            <ul class="mt-1">
                              <% @events.each do |event| %>
                                <% if lookup_context.template_exists?(event.action, "contact/timeline", true, formats: [:html]) %>
                                  <% cache event do %>
                                    <%= render partial: "dashboard/#{event.action}", locals: { event: event }, formats: [:html], layout: false %>
                                  <% end %>
                                <% end %>
                              <% end %>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>
