  <%= turbo_frame_tag dom_id(social) do %>
  <li class=" py-3">
    <div class="flex ">
      <div class="flex justify-between space-x-36">
        <div class="text-sm text-gray-900 font-medium w-40">
          <a href="<%=social.link%>">
            <p class="ml-3  font-light text-gray-600 inline-flex">
            <span class="bg-black h-12 w-12 rounded-full ">
             <i class="<%= social.link_type %> font-medium fa-2xl flex-auto pt-6 pl-2 text-white "></i></span>
             <% if !social.link_type.nil?%>
              <span class=" flex-none mt-1 font-semibold pl-4"><%= social.link_type.split("-").last.upcase_first %> </span>
              <% end %>
            </p>
            <p class="text-sm text-gray-900 font-light pl-16 ml-3 -mt-6"><%= social.link %> </p>
          </a>
        </div>
        <div class="mt-2 space-x-2 text-sm inline-flex ">
          <% if policy([social.contact, social]).edit? %>
            <%= edit_button("/#{current_user.account.id}/contacts/#{@contact.id}/links/#{social.id}/edit") %>
          <% end %>
          <% if policy([social.contact, social]).destroy? %>
            <%= delete_button("/#{current_user.account.id}/contacts/#{@contact.id}/links/#{social.id}") %>
          <% end %>
        </div>
      </div>
    </div>
  </li>
<% end %>
