<tr id="<%= dom_id gift %>">
  <td class="table-cell w-full">
    <div class="text-sm">
      <%= gift.name %>
    </div>
  </td>
  <td class="table-cell w-full">
    <div class="text-sm">
      <a href="<%= contact_gift_path(gift.contact, gift)%>" class="block hover:underline" target="_top">
        <%= gift.body %>
      </div>
    </td>
     <td class="table-cell whitespace-nowrap">
      <div class="mt-2 space-x-2 text-sm">
        <span class="font-medium text-gray-500"><%= gift.status.upcase_first %></span>
      </td>
    <td class="table-cell whitespace-nowrap">
      <div class="mt-2 space-x-2 text-sm">
        <span class="font-medium text-gray-500"><%= display_date(gift.date) %></span>
      </td>
      <td class="table-cell whitespace-nowrap">
        <% if policy([gift.contact, gift]).edit? %>
          <%= edit_button(edit_contact_gift_path(gift.contact, gift, script_name: "/#{gift.contact.account.id}")) %>
        <% end %>
        <% if policy([gift.contact, gift]).destroy? %>
          <%= delete_button(contact_gift_path(gift.contact, gift, script_name: "/#{gift.contact.account.id}")) %>
        <% end %>
      </div>
    </td>
  </tr>
