<style>
  .show-read-more .more-text{
      display: none;
  }
</style>
<tr id="<%= dom_id gift %>">
  <td class="table-cell whitespace-nowrap w-2/5">
    <div class="text-sm">
      <%= gift.name.upcase_first %>
    </div>
  </td>
  <td class="table-cell  w-3/5">
    <div  class="text-sm text-gray-700" data-controller="show-more">
      <p style="white-space: pre-line; word-break: break-all;" data-target="show-more.truncate">
        <%=highlight_hashtag(auto_link_urls_in_text(gift.body.truncate(100).upcase_first)) %>
      </p>
      <p style="white-space: pre-line; word-break: break-all;" data-target="show-more.full" class="hidden">
        <%= highlight_hashtag(auto_link_urls_in_text(gift.body.upcase_first)) %>
      </p>
      <%if gift.body.strip.length > 100 %>
        <button type="button"  class=" btn-inline-edit text-blue-800 hover:text-blue-600 " data-action="click->show-more#toggle" data-target="show-more.button">
          Show more
        </button>
      <% end %>
    </div>
  </td>
  <td class="table-cell whitespace-nowrap">
    <div class="mt-2 space-x-2 text-sm">
      <span class="inline-flex items-center  px-2 py-0.5 rounded text-xs font-medium bg-<%= gift.decorate.display_status_color %>-100 text-<%= gift.decorate.display_status_color %>-800"><%= gift.status.upcase_first %></span>
    </span>
  </td>
  <td class="table-cell whitespace-nowrap">
    <div class=" space-x-2 text-sm">
      <span class="font-normal text-gray-500"><%= display_date(gift.date) %></span>
    </td>
    <td class="table-cell whitespace-nowrap space-x-1">
      <% if policy([gift.contact, gift]).edit? %>
        <%= edit_button(edit_contact_gift_path(gift.contact, gift, script_name: "/#{gift.contact.account.id}")) %>
      <% end %>
      <% if policy([gift.contact, gift]).destroy? %>
        <%= delete_button(contact_gift_path(gift.contact, gift, script_name: "/#{gift.contact.account.id}")) %>
      <% end %>
    </div>
  </td>
</tr>
