
<%= tailwind_form_with(model: @gift, id: dom_id(@gift), url: contact_gift_path(@contact, @gift)) do |form| %>
  <main class="max-w-lg px-4 pt-6 pb-12 mx-auto space-y-6 lg:pb-16">
    <%= render "shared/form_messages", resource: @gift, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: "Edit Gift", subtitle: "Edit gift for #{@gift.contact.decorate.display_name}" %>
    <%= form.text_field :name, "Name", autocomplete: "off" %>
    <%= form.text_area :body, "Description", class: "form-text-field h-20" %>
    <div>
     <label for="status" class="block text-sm font-medium text-gray-700">
        Status
      </label>
          <div class="block max-w-lg space-x-8 mt-2">
      <div class="inline-flex space-x-2">
         <%= form.radio_button :status, 'received', class: "mt-2 " %>
       <%= form.label :status_received, 'Received', class:" text-sm font-medium text-gray-700 mt-1"  %>
</div>
<div class="inline-flex space-x-2 pl-4 ">
      <%= form.radio_button :status, 'given', class: " mt-2" %> 
      <%= form.label :status_given, 'Given' , class:" text-sm font-medium text-gray-700 mt-1" %>
      </div>
   </div>
   </div>
    <div>
    
      <label for="date" class="block text-sm font-medium text-gray-700">
         Date
      </label>
      <%= form.date_field :date, class: "form-text-field mt-1" %>
    </div>
    <div class="flex justify-end">
      <%= link_to "Back", "javascript:history.back()", class: "btn-normal" %>
      <%= form.submit "Edit Gift", class: "btn-blue" %>
    </div>
  </main>
<% end %>
