<%= turbo_frame_tag dom_id(note) do %>
  <li >
    <div class="flex  space-x-3">
      <div >
        <%= render partial: "shared/show_more", locals: { text: note.body, truncate_length: 100 } %>
        <div class="mt-2 space-x-2 text-sm inline-flex">
          <span class="font-normal text-gray-500"><%= display_created_at(note) %></span>
          <div class="space-x-1">
            <% if policy([note.contact, note]).edit? %>
              <%= edit_button(edit_contact_note_path(@contact, note)) %>
            <% end %>
            <% if policy([note.contact, note]).destroy? %>
              <%= delete_button(contact_note_path(@contact, note)) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </li>
<% end %>
