<div class="flex flex-wrap text-center">
  <a 
 href="/<%= recent.account.id %>/contacts/<%= recent.eventable.id %>/<%= recent.trackable.class.model_name.plural %>" class="  hover:underline">
    <div class="flex  justify-center " style=" padding-left:5px;">
      <span class="  bg-gray-200 rounded-full ring-2 ring-white " style="height: 2.5rem;width: 2.5rem;">
        <%= image_tag "male-placeholder-image.png", class: " rounded-full", :style=>"height: 2.5rem;width: 2.5rem;"%>
      </span>
    </div>
    <div class="flex   mt-2    " style="width:80px;  overflow-wrap: break-word; padding-left:20px;">
      <p class="text-sm  text-center text-gray-500  hover:underline  line-clamp "> <%=recent.eventable.decorate.display_name%>
      </div>
    </a>
  </div>
