<% if !recent.trackable.nil? %>
  

<div class="content-center">
<a 
 href="/<%= recent.account.id %>/contacts/<%= recent.eventable.id %>/<%= recent.trackable.class.model_name %>" class=" text-gray-900 hover:underline">

<span class="inline-flex items-center justify-center h-8 w-8  rounded-full bg-gray-500">
  <span class="text-sm font-medium leading-none text-white "><%=display_image(recent.eventable)%></span>
</span>
 <p class="text-sm mt-2 whitespace-nowrap"><%=recent.action_context%></span>
</a>
</div>
<% end %>
