 <%= turbo_frame_tag dom_id(task) do %>
  <li class="flex">
    <div class="flex mt-2 space-x-3">
      <div>
        <div class="mt-1 text-sm text-gray-700">
          <p class="flex">

            <span class="flex  -mt-1">
              <a href="<%= contact_tasks_path(task.contact) %>" class="text-sm text-gray-700 font-medium text-gray-900 hover:underline hover:text-indigo-700" target="_top">
                <%= task.contact.decorate.display_name %>
              </a>
              <a href="<%= contact_task_path(task.contact, task) %>" class="ml-2 flex-1 block hover:underline mr-0.5" target="_top">
                <%= task.title.upcase_first %>
              </a>
              <span>

              </p>
            </div>
            <div class="space-x-2 text-sm inline-flex">
              <span class="text-xs font-normal text-gray-500">Due on <%= display_created_at(task) %></span>

            </div>
          </div>
        </div>
      </li>
    <% end %>
