<%= turbo_frame_tag dom_id(task) do %>
  <li class="flex">
    <div class="flex mt-6 space-x-3">
      <div>
        <div class="mt-1 text-sm text-gray-700">
          <p class="flex">
            <% if policy([task.contact, task]).edit? %>
              <%= check_box_tag "completed", nil, task.completed, data: { reflex: "click->TaskReflex#toggle_contact_task_dasboard", id: task.id }, class: "inline-flex mr-4 cursor-pointer w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500" %>
            <% end %>
            <span class=" inline-flex -mt-1">
              <a href="<%= contact_task_path(task.contact, task) %>" class="block hover:underline mr-0.5" target="_top">
                <%= task.title.upcase_first %>
              </a> (<a href="<%= contact_tasks_path(task.contact) %>" class="block hover:underline " target="_top">
                <%= task.contact.decorate.display_name %>
              </a>)
              <span>
              </p>
            </div>
            <div class="mt-2 space-x-2 text-sm inline-flex ml-8">
              <span class="font-normal text-gray-500"><%= display_created_at(task) %></span>
              <div class="space-x-1">
                <% if policy([task.contact, task]).edit? %>
                  <%= edit_button(edit_contact_task_path(task.contact, task, script_name: "/#{task.contact.account.id}")) %>
                <% end %>
                <% if policy([task.contact, task]).destroy? %>
                  <%= delete_button(contact_task_path(task.contact, task, script_name: "/#{task.contact.account.id}")) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
