<div class="grid items-start grid-cols-1 gap-2 lg:grid-cols-3 lg:gap-2 ">
  <!-- Left column -->
  <div class="grid grid-cols-1 gap-4 lg:col-span-2 overflow-y-visible h-screen max-content top-16 overscroll-contain min-h-full">
    <div class="top-16  pt-6 h-full pb-10 border-r xl:border-gray-200 ">
      <% if @contacted.count > 0 %>
        <section aria-labelledby="participants_section">
          <div class="overflow-hidden bg-white px-6">
            <div class="flex flex-wrap ">
              <p class=" text-sm font-medium text-gray-900 truncate">Recently Contacted</p>
            </div>
            <div class=" flex   bg-white font-sans py-4   w-full">
              <ul role="list" class="" style="grid-template-columns: repeat(8, 40px); gap: 1rem;  display: grid;">
                <%= render partial: "contacted", collection: @contacted, as: :recent, cached: false %>
              </ul>
            </div>
          </div>
        </section>
      <% end %>
      <% @favorites = Contact.all.available.favorites.limit(8) %>
      <% if @favorites.count > 0 %>
        <section aria-labelledby="participants_section">
          <div class="overflow-hidden bg-white px-6">
            <div class="flex items-center justify-between  ">
              <p class="  text-sm font-medium text-gray-900 truncate"> Favourite Contacts</p>
            </div>
            <div class=" flex bg-white font-sans py-4 w-full ">
              <ul role="list" class="" style="grid-template-columns: repeat(<%=@favorites.count%>, 40px); gap: 1rem;  display: grid;">
                <%= render partial: "favorite", collection: @favorites, as: :favorite, cached: false %>
              </ul>
              <div class="flex items-center sm:mt-0 sm:ml-4 ">
                <%= link_to "View More...", favorites_path, class: "btn-inline-blue " %>
              </div>
            </div>
          </div>
        </section>
      <% end %>
      <section aria-labelledby="participants_section">
        <div class="overflow-hidden bg-white px-6">
          <div class="flex flex-wrap ">
            <p class="  text-sm font-medium text-gray-900 truncate"> Upcoming Events</p>
          </div>
          <div class="grid  grid-cols-1  lg:gap-2">
            <div class=" flex   bg-white font-sans  w-full  ">
              <ul>
                <% for m in 0..1 %>
                  <div class="  text-center   lg:row-start-1  ">
                    <% current = (Date.today - m.month).strftime("%B")
                    current_month_year = (Date.today - m.month).strftime("%B %Y") %>
                    <div class=" items-center  text-gray-900 py-4">
                      <p class="  text-sm font-normal text-gray-900 truncate"><%= current_month_year %></p>
                    </div>
                    <div class="py-4">
                      <%= render "upcoming", { reminder: @upcoming_reminders[current_month_year.to_date.beginning_of_month], current_month_year: current_month_year , current:current} %>
                    </div>
                  <% end %>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="grid grid-cols-1 gap-4  overflow-y-visible  h-screen max-content top-16 overscroll-contain min-h-full">
      <section aria-labelledby="add-participant-section">
        <div class="overflow-hidden bg-white h-full">
          <div class="px-4 sm:px-6 ">
            <div class="flex flex-wrap pt-4">
              <p class="pb-4 mt-2  text-sm font-medium text-gray-900 truncate">Timeline</p>
            </div>
            <%= turbo_frame_tag "events", src: events_path, target: "_top", loading: :lazy do %>
              <p class="pb-2 mt-1 text-sm text-gray-500 truncate">Hold on a sec while I fetch events...</p>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
