<%= turbo_frame_tag dom_id(@task) do %>
  <%= form_with(model: @task, id: dom_id(@task), url: profile_task_path(@contact, @task)) do |form| %>
    <main class="w-full mx-auto space-y-2">
      <%= render "shared/form_messages", resource: @task, message: local_assigns[:message] %>
      <label for="name" class="block mt-2 text-sm font-bold text-gray-700">
        <%= "Edit Phone Call" %>
      </label>
      <%= form.text_area :body, class: "resize-y form-text-field h-24" %>
      <div class="flex justify-end">
        <%= form.submit "Edit Phone Call", class: "btn-blue" %>
      </div>
    </main>
  <% end %>
<% end %>
