  <% @contacts.each do |contact| %>
  <a type="button" href="/<%= contact.account.id %>/contacts/<%= contact.id %>/about" target="_top" class=" w-full block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 cursor-pointer truncate ...">
    <li role="option"  @click="isShowing = false; document.getElementById('navbar').value='<%= contact.decorate.display_name %>'" class="" id="show">
      <%= contact.decorate.display_name %>
    </li>
  </a>
<% end %>
<% if @contacts.size>0 && @batches.size>0 %>
  <div class="my-2 mb-6 ">
    <div class="absolute inset-x-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-300"></div>
    </div>
    <div class="flex justify-start absolute inset-x-0  items-center">
      <span class=" -mt-2  px-4 pr-2 text-sm italic font-bold text-gray-500 bg-white" role="option">
        Groups
      </span>
    </div>
  </div>
<% end %>
<% @batches.each do |batch| %>
  <a type="button" href="/<%= batch.account.id %>/groups?batch_id=<%= batch.id %>" target="_top" class="float-left w-full block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 cursor-pointer truncate ...">
    <li role="option"  @click="isShowing = false; document.getElementById('navbar').value='<%= batch.name.upcase_first %>'" class="" id="show">
      <%= batch.decorate.display_name %>
    </li>
  </a>
<% end %>
