<tr id="<%= dom_id task %>">
  <td class="table-cell">
    <% if policy([task.contact, task]).edit? %>
      <%= check_box_tag "completed", nil, task.completed, data: { reflex: "click->TaskReflex#toggle_contact_task", id: task.id }, class: " cursor-pointer w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500" %>
    <% end %>
  </td>
  <td class="table-cell w-full">
    <div class="text-sm">
      <a href="<%= contact_task_path(task.contact, task) %>" class="block hover:underline" target="_top">
        <%= render partial: "shared/show_more", locals: { text: task.title, truncate_length: 100 } %>
      </div>
    </td>
    <td class="table-cell whitespace-nowrap">
      <div class=" space-x-2 text-sm">
        <span class="font-normal text-gray-500"><%= display_date(task.due_date) %></span>
      </td>
      <td class="table-cell whitespace-nowrap space-x-1">
        <% if policy([task.contact, task]).edit? %>
          <%= edit_button(edit_contact_task_path(task.contact, task, script_name: "/#{task.contact.account.id}")) %>
        <% end %>
        <% if policy([task.contact, task]).destroy? %>
          <%= delete_button(contact_task_path(task.contact, task, script_name: "/#{task.contact.account.id}")) %>
        <% end %>
      </div>
    </td>
  </tr>
