<tr id="<%= dom_id task %>">
  <td class="table-cell">
    <%= check_box_tag "completed", nil, task.completed, data: { reflex: "click->TaskReflex#toggle_contact_task", id: task.id }, class: "w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500" %>
  </td>
  <td class="table-cell w-full">
    <div class="text-sm">
      <a href="<%= contact_task_path(task.contact, task)%>" class="block hover:underline" target="_top">
        <%= task.title.titleize %>
      </div>
    </td>
    <td class="table-cell whitespace-nowrap">
      <div class="mt-2 space-x-2 text-sm">
        <span class="font-medium text-gray-500"><%= display_date(task.due_date) %></span>
      </td>
      <td class="table-cell whitespace-nowrap">
        <% if policy([task.contact, task]).edit? %>
          <%= edit_button(edit_contact_task_path(task.contact, task, script_name: "/#{task.contact.account.id}")) %>
        <% end %>
        <% if policy([task.contact, task]).destroy? %>
          <%= delete_button(contact_task_path(task.contact, task, script_name: "/#{task.contact.account.id}")) %>
        <% end %>
      </div>
    </td>
  </tr>
