<%= tailwind_form_with(model: @task, id: dom_id(@task), url: contact_task_path(@contact, @task)) do |form| %>
  <main class="max-w-lg px-4 pt-6 pb-12 mx-auto space-y-6 lg:pb-16">
    <%= render "shared/form_messages", resource: @task, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: "Edit Task", subtitle: "Edit task for #{@task.contact.decorate.display_name}" %>
    <%= form.text_field :title, "Title", autocomplete: "off" %>
    <%= form.text_area :body, "Description(optional)", class: "form-text-field h-24" %>
    <div>
      <label for="date" class="block text-sm font-medium text-gray-700">
        Due Date
      </label>
      <%= form.date_field :due_date, class: "cursor-pointer form-text-field mt-1" %>
    </div>
    <div class="flex justify-end">
      <%= link_to "Back", "javascript:history.back()", class: "btn-normal" %>
      <%= form.submit "Edit Task", class: "btn-blue" %>
    </div>
  </main>
<% end %>
