  <%= tailwind_form_with(model: life_event, id: dom_id(life_event), url: account_life_events_path) do |form| %>
  <div class="space-y-6">
    <%= render "shared/form_messages", resource: life_event, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: "Add New Life Event", subtitle: "You can define custom life event which can be applied on contacts." %>
    <div class="">
      <label for="group" class="block  text-sm font-medium text-gray-700">
        Select Group
      </label>
      <%= form.collection_select("group_id", @groups, :id, :display_name, { :prompt => "Select Group" }, :class => "cursor-pointer form-text-field mt-1") %>
    </div>
    <%= form.text_field :name, "Life Event", autocomplete: "off", class: "form-text-field" %>
    <!-- Hack ends here -->
    <div class="flex justify-end ">
      <%= form.submit "Save", class: "btn-blue" %>
    </div>
  </div>
<% end %>
