<h2 class="  text-sm font-semibold text-gray-900">Last 3 months report:</h2>
<div class="flex  flex-1 justify-center">
  <div class="  text-center   lg:row-start-1  ">
    <% (0..2).each do |m| %>
      <% current = (Date.today - m.month).strftime("%B")
         current_month_year = (Date.today - m.month).strftime("%B %Y") %>
      <div class="flex  text-gray-900 py-6">
        <div id="" class=" text-sm flex-auto font-semibold"   ><%= current_month_year %></div>
      </div>
      <div class=" text-xs leading-6 text-gray-500 day-of-week">
        <div>Sun</div>
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
      </div>
      <% @days = days_in_month(Date::MONTHNAMES.index(current)) %>
      <div class="border-1 flex justify-center isolate mt-2  gap-px rounded-lg bg-gray-50 text-sm  shadow ring-1 ring-gray-200 date-grid " >
        <% (1..@days).each do |i| %>
          <% ratings = ratings_by_date[current] %>
          <% if !ratings.nil? %>
            <% j = ratings.count %>
            <% (0..j).each do |index| %>
              <% if ratings[index] %>
                <% if i.to_s == ratings[index].date.strftime(("%-d")) %>
                  <% if ratings[index].awesome? %>
                    <button type="button" class="bg-white py-1.5 text-gray-900 hover:bg-gray-100 focus:z-10 <%= current_month_year.to_date.beginning_of_month.strftime("%A") %>"  >
                      <time datetime="2021-12-27" class="mx-auto flex h-7 w-7 items-center justify-center rounded-full bg-green-600 text-white font-semibold"><%=i%></time>
                    </button>
                  <% elsif ratings[index].normal? %>
                    <button type="button" class="bg-white py-1.5 text-gray-900 hover:bg-gray-100 focus:z-10  <%= current_month_year.to_date.beginning_of_month.strftime("%A") %>" >
                      <time datetime="2021-12-27" class="mx-auto flex h-7 w-7 items-center justify-center rounded-full bg-gray-500 text-white font-semibold"><%=i%></time>
                    </button>
                  <% elsif ratings[index].poor? %>
                    <button type="button" class="bg-white py-1.5  text-gray-900 hover:bg-gray-100 focus:z-10 <%= current_month_year.to_date.beginning_of_month.strftime("%A") %>" >
                      <time datetime="2021-12-27" class="mx-auto flex h-7 w-7 items-center justify-center rounded-full bg-red-600 text-white font-semibold"><%=i%></time>
                    </button>
                  <% end %>
                  <% break %>
                <% end %>
              <% else %>
                <button type="button" class="bg-white py-1.5 text-gray-900 hover:bg-gray-100 focus:z-10 <%= current_month_year.to_date.beginning_of_month.strftime("%A") %>" >
                  <time datetime="2021-12-27" class="mx-auto flex h-7 w-7 items-center justify-center rounded-full"><%=i%></time>
                </button>
              <% end %>
              <% index += 1 %>
            <% end %>
          <% else %>
            <button type="button" class="bg-white py-1.5 px-1.5 text-gray-900 hover:bg-gray-100 focus:z-10 <%= current_month_year.to_date.beginning_of_month.strftime("%A") %>" >
              <time datetime="2021-12-27" class="mx-auto flex h-7 w-7 items-center justify-center rounded-full"><%=i%></time>
            </button>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
