  <%= form_with(model: user, id: dom_id(user), url: "password") do |form| %>
  <div>
    <div class="space-y-6">
      <%= render "shared/form_messages", resource: @form, message: local_assigns[:message] %>
      <%= render "shared/form_header", title: "Change Password", subtitle: "Please fill in details to change your password." %>
      <div>
        <label for="old_password" class="block  text-sm font-medium text-gray-700">
          Old Password
        </label>
        <div class="flex">
          <%= form.password_field :original_password, class: "form-text-field mt-1"  %>
          <i class="far fa-eye fa-eye-slash"  id="toggleOldPassword" style="margin-left:-30px; margin-top:14px" ></i>
        </div>
      </div>
      <div>
        <label for="new_password" class="block  text-sm font-medium text-gray-700">
          New Password
        </label>
        <div class="flex">
          <%= form.password_field :new_password, class: "form-text-field mt-1" %>
          <i class="far fa-eye fa-eye-slash"  id="toggleNewPassword" style="margin-left:-30px; margin-top:14px" ></i>
        </div>
      </div>
      <div>
        <label for="new_password_confirmation" class="block  text-sm font-medium text-gray-700">
          New Password confirmation
        </label>
        <div class="flex">
          <%= form.password_field :new_password_confirmation, class: "form-text-field mt-1" %>
          <i class="far fa-eye fa-eye-slash"  id="toggleNewPasswordConfirmation" style="margin-left:-30px; margin-top:14px" ></i>
        </div>
      </div>
      <div class="flex justify-end">
        <%= form.submit "Save", class: "btn-blue" %>
      </div>
    </div>
    <div>
    <% end %>
    <script>
      const toggleOldPassword = document.querySelector('#toggleOldPassword');
      const toggleNewPassword = document.querySelector('#toggleNewPassword');
      const toggleNewPasswordConfirmation = document.querySelector('#toggleNewPasswordConfirmation');
       const original_password = document.querySelector('#user_original_password');
         const new_password = document.querySelector('#user_new_password');
       const new_password_confirmation = document.querySelector('#user_new_password_confirmation');
      
      
       toggleOldPassword.addEventListener('click', function (e) {
      
         // toggle the type attribute
         const original_password_type = original_password.getAttribute('type') === 'password' ? 'text' : 'password';
         original_password.setAttribute('type', original_password_type);
      
         // toggle the eye slash icon
         this.classList.remove('fa-eye-slash');
      });
       toggleNewPassword.addEventListener('click', function (e) {
      
         // toggle the type attribute
          const new_password_type = new_password.getAttribute('type') === 'password' ? 'text' : 'password';
          new_password.setAttribute('type', new_password_type);
         // toggle the eye slash icon
         this.classList.remove('fa-eye-slash');
      });
      toggleNewPasswordConfirmation.addEventListener('click', function (e) {
      
         // toggle the type attribute
          const new_password_confirmation_type = new_password_confirmation.getAttribute('type') === 'password' ? 'text' : 'password';
          new_password_confirmation.setAttribute('type', new_password_confirmation_type);
         // toggle the eye slash icon
         this.classList.remove('fa-eye-slash');
      });
    </script>
