  <%= form_with(model: user, id: dom_id(user), url: "password") do |form| %>
  <div>
    <div class="space-y-6">
      <%= render "shared/form_messages", resource: @form, message: local_assigns[:message] %>
      <%= render "shared/form_header", title: "Change Password", subtitle: "Please fill in details to change your password." %>
      <div>
        <label for="old_password" class="block  text-sm font-medium text-gray-700">
          Old Password
        </label>
        <div class="flex">
          <%= form.password_field :original_password, class: "form-text-field mt-1"  %>
          <i class="far fa-eye fa-eye-slash"  id="toggleOldPassword" style="margin-left:-30px; margin-top:14px" ></i>
        </div>
      </div>
      <div>
        <label for="new_password" class="block  text-sm font-medium text-gray-700">
          New Password
        </label>
        <div class="flex">
          <%= form.password_field :new_password, class: "form-text-field mt-1" %>
          <i class="far fa-eye fa-eye-slash"  id="toggleNewPassword" style="margin-left:-30px; margin-top:14px" ></i>
        </div>
      </div>
      <div>
        <label for="new_password_confirmation" class="block  text-sm font-medium text-gray-700">
          New Password confirmation
        </label>
        <div class="flex">
          <%= form.password_field :new_password_confirmation, class: "form-text-field mt-1" %>
          <i class="far fa-eye fa-eye-slash"  id="toggleNewPasswordConfirmation" style="margin-left:-30px; margin-top:14px" ></i>
        </div>
      </div>
      <div class="flex justify-end">
        <%= form.submit "Save", class: "btn-blue" %>
      </div>
    </div>
    <div>
    <% end %>
    <script>
      var toggleOldPassword = document.querySelector('#toggleOldPassword');
      var toggleNewPassword = document.querySelector('#toggleNewPassword');
      var toggleNewPasswordConfirmation = document.querySelector('#toggleNewPasswordConfirmation');
       var original_password = document.querySelector('#user_original_password');
        var new_password = document.querySelector('#user_new_password');
       var new_password_confirmation = document.querySelector('#user_new_password_confirmation');
      
      
       toggleOldPassword.addEventListener('click', function (e) {
         if ( original_password.getAttribute('type') === 'password')
           {
        var original_password_type = 'text'
        this.classList.remove('fa-eye-slash');
           }
           else
           {
        var original_password_type = 'password'
         this.classList.add('fa-eye-slash');
           }
          original_password.setAttribute('type', original_password_type);
      });
       toggleNewPassword.addEventListener('click', function (e) {
      
      
         if ( new_password.getAttribute('type') === 'password')
           {
        var new_password_type = 'text'
        this.classList.remove('fa-eye-slash');
           }
           else
           {
        var new_password_type = 'password'
         this.classList.add('fa-eye-slash');
           }
             new_password.setAttribute('type', new_password_type);
      });
      toggleNewPasswordConfirmation.addEventListener('click', function (e) {
      
         // toggle the type attribute
      
      
          if (  new_password_confirmation.getAttribute('type') === 'password')
           {
        var new_password_confirmation_type = 'text'
        this.classList.remove('fa-eye-slash');
           }
           else
           {
        var new_password_confirmation_type = 'password'
         this.classList.add('fa-eye-slash');
           }
                     new_password_confirmation.setAttribute('type', new_password_confirmation_type);
      });
    </script>
