  <%= turbo_frame_tag dom_id(about) do %>
  <% frame_id1 = dom_id(about, "address_turbo_frame") %>
  <%= form_with(model: about, id: dom_id(about), url: contact_about_index_path(contact, about), data: { turbo_frame: frame_id1 }) do |form| %>
    <%= turbo_frame_tag frame_id1, class: "inline-edit" do %>
      <div class="border-b border-gray-200  pb-4">
        <div class=" items-start  xl:grid xl:grid-flow-col  lg:max-w-full mt-2 ">
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3">
            <dt class="text-sm font-normal text-gray-500" >Address: </dt>
          </div>
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3 text-right">
            <span class="ml-6 flex-shrink-0 space-x-1">
              <% if policy([about.contact, about]).update? %>
                <%= link_to "Update", edit_contact_about_path(about.contact, about), class: "btn-inline-edit font-normal" %>
                <%= clear_button(contact_about_path(about.contact, about, :delete => "address")) %>
              <% end %>
            </span>
          </div>
        </div>
        <div class="block xl:col-span-6 mt-1  ">
          <% if !about.address.blank? %>
            <dt class="text-sm font-normal text-gray-900  "  style="overflow-wrap: break-word;  "data-controller="show-more" >
              <p style="white-space: pre-line; word-break: break-all;" data-target="show-more.truncate" class=" -mt-4">
                <%= highlight_hashtag(auto_link_urls_in_text(about.address.truncate(500).upcase_first)) %>
              </p>
              <p style="white-space: pre-line; word-break: break-all;" data-target="show-more.full" class="hidden mt-2"> <%= highlight_hashtag(auto_link_urls_in_text(about.address.upcase_first)) %></p>
              <% if about.address.strip.length > 500 %>
                <a class=" flex btn-inline-edit text-blue-800 hover:text-blue-600" data-action="click->show-more#toggle" data-target="show-more.button">Show more</a>
              <% end %>
            </dt>
          <% else %>
            <dt class="text-xs font-normal text-gray-600">-</dt>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% frame_id = dom_id(about, "breif_turbo_frame") %>
  <%= form_with(model: about, id: dom_id(about), url: contact_about_index_path(contact, about), data: { turbo_frame: frame_id }) do |form| %>
    <%= turbo_frame_tag frame_id, class: "inline-edit" do %>
      <div class="border-b border-gray-200  py-4 ">
        <div class=" items-start  xl:grid xl:grid-flow-col  lg:max-w-full ">
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3">
            <dt class="text-sm font-normal text-gray-500 whitespace-pre-wrap break-words" >Brief About <%= contact.decorate.display_name %></dt>
          </div>
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3 text-right">
            <% if policy([about.contact, about]).update? %>
              <span class="ml-6 flex-shrink-0 space-x-1">
                <%= link_to "Update", edit_contact_about_path(about.contact, about), class: "btn-inline-edit font-normal" %>
                <%= clear_button(contact_about_path(about.contact, about, :delete => "breif")) %>
              </span>
            <% end %>
          </div>
        </div>
        <div class="block xl:col-span-6 mt-1">
          <% if !about.breif.blank? %>
            <dt class="text-sm font-normal text-gray-900  "  style="overflow-wrap: break-word;  "data-controller="show-more" >
              <p style="white-space: pre-line; word-break: break-all;" data-target="show-more.truncate" class=" -mt-4">
                <%= highlight_hashtag(auto_link_urls_in_text(about.breif.truncate(500).upcase_first)) %>
              </p>
              <p style="white-space: pre-line; word-break: break-all;" data-target="show-more.full" class="hidden mt-2"> <%= highlight_hashtag(auto_link_urls_in_text(about.breif.upcase_first)) %></p>
              <% if about.breif.strip.length > 500 %>
                <a class=" flex btn-inline-edit text-blue-800 hover:text-blue-600" data-action="click->show-more#toggle" data-target="show-more.button">Show more</a>
              <% end %>
            </dt>
          <% else %>
            <dt class="text-xs font-normal text-gray-600">-</dt>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% frame_id = dom_id(about, "met_turbo_frame") %>
  <%= form_with(model: about, id: dom_id(about), url: contact_about_index_path(contact, about), data: { turbo_frame: frame_id }) do |form| %>
    <%= turbo_frame_tag frame_id, class: "inline-edit" do %>
      <div class="border-b border-gray-200  py-4 ">
        <div class=" items-start  xl:grid xl:grid-flow-col  lg:max-w-full ">
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3">
            <dt class="text-sm font-normal text-gray-500" >How You Met <%= contact.decorate.display_name %></dt>
          </div>
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3 text-right">
            <span class="ml-6 flex-shrink-0 space-x-1">
              <% if policy([about.contact, about]).update? %>
                <%= link_to "Update", edit_contact_about_path(about.contact, about), class: "btn-inline-edit font-normal" %>
                <%= clear_button(contact_about_path(about.contact, about, :delete => "met")) %>
              <% end %>
            </span>
          </div>
        </div>
        <div class="block xl:col-span-6 mt-1">
          <% if !about.met.blank? %>
            <dt class="text-sm font-normal text-gray-900  "  style="overflow-wrap: break-word;  "data-controller="show-more" >
              <p style="white-space: pre-line; word-break: break-all;" data-target="show-more.truncate" class=" -mt-4">
                <%= highlight_hashtag(auto_link_urls_in_text(about.breif.truncate(500).upcase_first)) %>
              </p>
              <p style="white-space: pre-line; word-break: break-all;" data-target="show-more.full" class="hidden mt-2"> <%= highlight_hashtag(auto_link_urls_in_text(about.breif.upcase_first)) %></p>
              <% if about.breif.strip.length > 500 %>
                <a class=" flex btn-inline-edit text-blue-800 hover:text-blue-600" data-action="click->show-more#toggle" data-target="show-more.button">Show more</a>
              <% end %>
            </dt>
          <% else %>
            <dt class="text-xs font-normal text-gray-600">-</dt>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% frame_id = dom_id(about, "habit_turbo_frame") %>
  <%= form_with(model: about, id: dom_id(about), url: contact_about_index_path(contact, about), data: { turbo_frame: frame_id }) do |form| %>
    <%= turbo_frame_tag frame_id, class: "inline-edit" do %>
      <div class="border-b border-gray-200  py-4">
        <div class=" items-start  xl:grid xl:grid-flow-col  lg:max-w-full ">
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3">
            <dt class="text-sm font-normal text-gray-500" >Habits And Preferences</dt>
          </div>
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3 text-right">
            <span class="ml-6 flex-shrink-0 space-x-1">
              <% if policy([about.contact, about]).update? %>
                <%= link_to "Update", edit_contact_about_path(about.contact, about), class: "btn-inline-edit font-normal" %>
                <%= clear_button(contact_about_path(about.contact, about, :delete => "habit")) %>
              <% end %>
            </span>
          </div>
        </div>
        <div class="block xl:col-span-6 mt-1">
          <% if !about.habit.blank? %>
            <dt class="text-sm font-normal text-gray-900  "  style="overflow-wrap: break-word;  "data-controller="show-more" >
              <p style="white-space: pre-line; word-break: break-all;" data-target="show-more.truncate" class=" -mt-4">
                <%= highlight_hashtag(auto_link_urls_in_text(about.habit.truncate(500).upcase_first)) %>
              </p>
              <p style="white-space: pre-line; word-break: break-all;" data-target="show-more.full" class="hidden mt-2"> <%= highlight_hashtag(auto_link_urls_in_text(about.habit.upcase_first)) %></p>
              <% if about.habit.strip.length > 500 %>
                <a class=" flex btn-inline-edit text-blue-800 hover:text-blue-600" data-action="click->show-more#toggle" data-target="show-more.button">Show more</a>
              <% end %>
            </dt>
          <% else %>
            <dt class="text-xs font-normal text-gray-600">-</dt>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% frame_id = dom_id(about, "work_turbo_frame") %>
  <%= form_with(model: about, id: dom_id(about), url: contact_about_index_path(contact, about), data: { turbo_frame: frame_id }) do |form| %>
    <%= turbo_frame_tag frame_id, class: "inline-edit" do %>
      <div class="border-b border-gray-200  py-4">
        <div class=" items-start  xl:grid xl:grid-flow-col  lg:max-w-full ">
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3">
            <dt class="text-sm font-normal text-gray-500" >Work Information</dt>
          </div>
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3 text-right">
            <span class="ml-6 flex-shrink-0 space-x-1">
              <% if policy([about.contact, about]).update? %>
                <%= link_to "Update", edit_contact_about_path(about.contact, about), class: "btn-inline-edit font-normal" %>
                <%= clear_button(contact_about_path(about.contact, about, :delete => "work")) %>
              <% end %>
            </span>
          </div>
        </div>
        <div class="block xl:col-span-6 mt-1">
          <% if !about.work.blank? %>
            <dt class="text-sm font-normal text-gray-900  "  style="overflow-wrap: break-word;  "data-controller="show-more" >
              <p style="white-space: pre-line; word-break: break-all;" data-target="show-more.truncate" class=" -mt-4">
                <%= highlight_hashtag(auto_link_urls_in_text(about.work.truncate(500).upcase_first)) %>
              </p>
              <p style="white-space: pre-line; word-break: break-all;" data-target="show-more.full" class="hidden mt-2"> <%= highlight_hashtag(auto_link_urls_in_text(about.work.upcase_first)) %></p>
              <% if about.work.strip.length > 500 %>
                <a class=" flex btn-inline-edit text-blue-800 hover:text-blue-600" data-action="click->show-more#toggle" data-target="show-more.button">Show more</a>
              <% end %>
            </dt>
          <% else %>
            <dt class="text-xs font-normal text-gray-600">-</dt>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% frame_id = dom_id(about, "other_turbo_frame") %>
  <%= form_with(model: about, id: dom_id(about), url: contact_about_index_path(contact, about), data: { turbo_frame: frame_id }) do |form| %>
    <%= turbo_frame_tag frame_id, class: "inline-edit" do %>
      <div class="border-b border-gray-200  py-4">
        <div class=" items-start  xl:grid xl:grid-flow-col  lg:max-w-full ">
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3">
            <dt class="text-sm font-normal text-gray-500" >Other</dt>
          </div>
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3 text-right">
            <span class="ml-6 flex-shrink-0 space-x-1">
              <% if policy([about.contact, about]).update? %>
                <%= link_to "Update", edit_contact_about_path(about.contact, about), class: "btn-inline-edit font-normal" %>
                <%= clear_button(contact_about_path(about.contact, about, :delete => "other")) %>
              <% end %>
            </span>
          </div>
        </div>
        <div class="block xl:col-span-6 mt-1">
          <% if !about.other.blank? %>
            <dt class="text-sm font-normal text-gray-900  "  style="overflow-wrap: break-word;  "data-controller="show-more" >
              <p style="white-space: pre-line; word-break: break-all;" data-target="show-more.truncate" class=" -mt-4">
                <%= highlight_hashtag(auto_link_urls_in_text(about.other.truncate(500).upcase_first)) %>
              </p>
              <p style="white-space: pre-line; word-break: break-all;" data-target="show-more.full" class="hidden mt-2"> <%= highlight_hashtag(auto_link_urls_in_text(about.other.upcase_first)) %></p>
              <% if about.other.strip.length > 500 %>
                <a class=" flex btn-inline-edit text-blue-800 hover:text-blue-600 "  data-action="click->show-more#toggle" data-target="show-more.button">Show more</a>
              <% end %>
            </dt>
          <% else %>
            <dt class="text-xs font-normal text-gray-600">-</dt>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
