<li class=" border-b border-gray-200 bg-white py-5 px-4 "  >
  <div class="flex justify-between space-x-3">
    <a href="<%=release_note_path(release_note)%>" class="block focus:outline-none hover:underline" target="_top">
      <div class="min-w-0 flex-1">
        <p class="truncate text-sm font-medium text-gray-900"> <%=release_note.title.upcase_first%> </p>
        <p class="truncate text-sm text-gray-500 line-clap-2"><%= release_note.body %></p>
      </div>
      <a href="<%=release_note_path(release_note)%>" class="block focus:outline-none hover:underline" target="_top">
        <div class="  whitespace-nowrap">
          <% if policy(release_note).edit? %>
            <%= edit_button(edit_release_note_path(release_note)) %>
          <% end %>
          <% if policy(release_note).destroy? %>
            <%= delete_button(release_note_path(release_note)) %>
          <% end %>
        </div>
      </div>
      <div class=" w-full flex mt-1">
        <span class="inline-flex font-normal items-center  text-sm text-gray-500"><%= display_created_at(release_note) %></span>
        <div class="  whitespace-nowrap px-6  text-sm text-gray-700  ">
          <% if release_note.published? %>
            <span class="inline-flex items-center px-1 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
              Published
            </span>
          <% else %>
            <span class="inline-flex items-center px-1 py-0.5 rounded-full text-xs font-medium bg-yellow-100 text-yellow-800">
              In Review
            </span>
          <% end %>
        </div>
      </div>
    </li>
