<li class="py-3 flex border-b border-gray-200" id="<%= dom_id release_note %>" >
  <div class=" w-full">
    <%= link_to release_note.title.upcase_first, release_note_path(release_note), class: "btn-intdne-edit  hover:underline" %>
    <div class=" mt-1 text-sm font-normal text-gray-500 line-clamp-2 ">
      <%=release_note.body%>
    </div>
    <div class=" w-full flex">
      <span class="inline-flex font-normal items-center mt-1 text-sm text-gray-500"><%= display_created_at(release_note) %></span>
      <div class="  whitespace-nowrap px-6  text-sm text-gray-700  ">
        <% if release_note.published? %>
          <span class="inline-flex items-center px-1 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
            Published
          </span>
        <% else %>
          <span class="inline-flex items-center px-1 py-0.5 rounded-full text-xs font-medium bg-yellow-100 text-yellow-800">
            In Review
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="flex align-right">
    <div class="px-6 py-3 whitespace-nowrap  text-sm font-medium">
      <% if policy(release_note).edit? %>
        <%= edit_button(edit_release_note_path(release_note)) %>
      <% end %>
      <% if policy(release_note).destroy? %>
        <%= delete_button(release_note_path(release_note)) %>
      <% end %>
    </div>
  </div>
</li>
