<%= tailwind_form_with(model: @debt, id: dom_id(@debt), url: contact_debt_path(@contact, @debt)) do |form| %>
  <main class="max-w-lg px-4 pt-6 pb-12 mx-auto space-y-6 lg:pb-16">
    <%= render "shared/form_messages", resource: @debt, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: "Edit Debt", subtitle: "Edit debt "%>
    <%= form.text_field :title, "Title", autocomplete: "off" %>
    <%= form.text_field :amount, "Amount", class: "form-text-field" %>
    <div>
      <label for="owned_by" class="block text-sm font-medium text-gray-700">
        Owed by
      </label>
      <%= form.select :owed_by, [[@contact.decorate.display_name, "contact"], ["You", "user"]], {}, :class => "form-text-field mt-1" %>
    </div>
    <div>
      <label for="date" class="block text-sm font-medium text-gray-700">
        Due Date
      </label>
      <%= form.date_field :due_date, class: "form-text-field mt-1" %>
    </div>
    <div class="flex justify-end">
      <%= link_to "Back", "javascript:history.back()", class: "btn-normal" %>
      <%= form.submit "Edit Debt", class: "btn-blue" %>
    </div>
  </main>
<% end %>
