  <%= tailwind_form_with(model: relation, id: dom_id(relation), url: account_relations_path) do |form| %>
  <div class="space-y-6">
    <%= render "shared/form_messages", resource: relation, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: "Relations", subtitle: "Please define relations which can be assigned to people" %>
    <%= form.text_field :name, "Add New Relation", autocomplete: "off" %>
    <div class="flex justify-end pb-8">
      <%= form.submit "Save", class: "btn-blue" %>
    </div>
  </div>
<% end %>
