<%= turbo_frame_tag dom_id(@comment) do %>
  <div id="comment" class="bg-gray-50">
    <div class="px-4 py-6 sm:px-6">
      <div class="flex space-x-3">
        <div class="flex-1 min-w-0">
          <%= form_with model: @comment, url: journal_comment_path(@comment), method: :patch do |form| %>
            <%= render "shared/form_messages", resource: @comment, message: local_assigns[:message] %>
            <%= form.hidden_field :"user_id", :value => current_user.id %>
            <%= form.hidden_field :"journal_id", :value => @comment.journal.id %>
            <div>
              <label for="owned_by" class="block text-sm font-medium text-gray-700">
                Edit Comment
              </label>
              <textarea id="comment" name="comment[title]" rows="3" class="form-text-field mt-1" placeholder="Add a comment"><%= @comment.title %></textarea>
            </div>
            <div class="flex items-center justify-between mt-4">
              <div class="flex">
              </div>
              <div   class="justify-end ">
                <!-- This example requires Tailwind CSS v2.0+ -->
                <%= form.submit "Comment", class: "cursor-pointer relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
