<script>
  function showTooltip(flag) {
      switch (flag) {
          case 1:
              document.getElementById("tooltip1").classList.remove("hidden");
              break;
          case 2:
              document.getElementById("tooltip2").classList.remove("hidden");
              break;
          case 3:
              document.getElementById("tooltip3").classList.remove("hidden");
              break;
      }
  }
  function hideTooltip(flag) {
      switch (flag) {
          case 1:
              document.getElementById("tooltip1").classList.add("hidden");
              break;
          case 2:
              document.getElementById("tooltip2").classList.add("hidden");
              break;
          case 3:
              document.getElementById("tooltip3").classList.add("hidden");
              break;
      }
  }
</script>
<tr id="<%= dom_id reminder %>" class="h-12">
  <td class="table-cell">
    <span class=" font-normal text-gray-500  whitespace-nowrap"><%= display_date(reminder.reminder_date) %></span>
  </td>
  <td class="table-cell">
    <% if reminder.once? %>
      <%= reminder.reminder_type.upcase_first %>
    <% else %>
      Every <%= reminder.remind_after %> <%= reminder.decorate.display_status %><% if reminder.remind_after > 1 %>s <% end %>
    <% end %>
  </td>
  <td class="table-cell w-full">
    <div class="flex">
      <p class="" style="word-break: break-all; inline-flex"><%= reminder.title.upcase_first %></p>
      <% if reminder.comments? %>
        <!--Code Block for white tooltip starts-->
        <div data-controller="popper" class="inline-flex">
          <button id="button" data-popper-target="element" data-action="mouseenter->popper#show mouseleave->popper#hide"  class=" px-2 rounded-xl">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 svg-icon ">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
            </svg>
            <div id="tooltip" role="tooltip" data-popper-target="tooltip" class=" ">
              <%= reminder.comments.upcase_first %>
              <div id="arrow" data-popper-arrow class=""></div>
            </div>
          </button>
        </div>
      <% end %>
    </div>
  </td>
  <td class="table-cell whitespace-nowrap">
    <% if policy([@contact, reminder]).edit? %>
      <%= edit_button(edit_contact_reminder_path(@contact, reminder)) %>
    <% end %>
    <% if policy([@contact, reminder]).destroy? %>
      <%= delete_button(contact_reminder_path(@contact, reminder)) %>
    <% end %>
  </td>
</tr>
