<tr id="<%= dom_id reminder %>"  >
  <td class="table-cell">
    <span class="font-medium text-gray-500  whitespace-nowrap"><%= display_date(reminder.reminder_date) %></span>
  </td>
  <td class="table-cell">
    <% if reminder.once? %>
      <%= reminder.reminder_type.upcase_first %>
    <% else %>
      Every <%= reminder.remind_after %> <%= reminder.decorate.display_status %><% if reminder.remind_after > 1 %>s <% end %>
    <% end %>
  </td>
  <td class="table-cell" style="width: 50%;">
    <p class="" style="word-break: break-all;"><%= reminder.title.upcase_first %></p>
  </td>
  <td class="table-cell" style="width: 50%;">
    <% if reminder.comments? %>
   <p
   x-data="{ isCollapsed: false, maxLength: 80, originalContent: '', content: '' }"
   x-init="originalContent = $el.firstElementChild.textContent.trim(); content = originalContent.slice(0, maxLength)"
   >
        <span x-text="isCollapsed ? originalContent : content" style="white-space: pre-wrap; word-break: break-all;"><%= reminder.comments.upcase_first %></span>
             <button
      @click="isCollapsed = !isCollapsed"
      x-show="originalContent.length > maxLength"
          x-text="isCollapsed ? 'Show less' : 'Show more'" style="float:right;" class="btn-inline-edit text-blue-800 hover:text-blue-600 px-3"
          ></button>
          </p>
    <% end %>
  </td>
  <td class="table-cell whitespace-nowrap">
    <% if policy([@contact, reminder]).edit? %>
      <%= edit_button(edit_contact_reminder_path(@contact, reminder)) %>
    <% end %>
    <% if policy([@contact, reminder]).destroy? %>
      <%= delete_button(contact_reminder_path(@contact, reminder)) %>
    <% end %>
  </td>
</tr>
