<script>
  function showTooltip(flag) {
      switch (flag) {
          case 1:
              document.getElementById("tooltip1").classList.remove("hidden");
              break;
          case 2:
              document.getElementById("tooltip2").classList.remove("hidden");
              break;
          case 3:
              document.getElementById("tooltip3").classList.remove("hidden");
              break;
      }
  }
  function hideTooltip(flag) {
      switch (flag) {
          case 1:
              document.getElementById("tooltip1").classList.add("hidden");
              break;
          case 2:
              document.getElementById("tooltip2").classList.add("hidden");
              break;
          case 3:
              document.getElementById("tooltip3").classList.add("hidden");
              break;
      }
  }
</script>

<tr id="<%= dom_id reminder %>" class="h-12">
  <td class="table-cell ">
    <span class="   whitespace-nowrap"><%= display_date(reminder.reminder_date) %></span>
  </td>
  <td class="table-cell whitespace-nowrap">
    <span class="inline-flex items-center rounded bg-indigo-100 px-2 py-0.5 text-xs font-medium text-indigo-800">
      <% if reminder.once? %>
        <%= reminder.reminder_type.upcase_first %>
      <% else %>
        Every <%= reminder.remind_after %> <%= reminder.decorate.display_status %><% if reminder.remind_after > 1 %>s <% end %>
      <% end %>
    </span>
  </td>
  <td class="table-cell w-full">
    <div class="flex">
      <p class="" style="word-break: break-all; inline-flex"><%= reminder.title.upcase_first %></p>
      <% if reminder.comments? %>
        <div  class="inline-flex">
          <button id="button" data-controller="tooltip" data-tooltip-content="<%= reminder.comments.upcase_first %>"  class=" px-2 rounded-xl cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 svg-icon ">
              <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
            </svg>

          </button>
        </div>
      <% end %>
    </div>
  </td>
  <td class="table-cell whitespace-nowrap">
    <div class="space-x-1">
      <% if policy([reminder.contact, reminder]).edit? %>
        <%= edit_button(edit_contact_reminder_path(reminder.contact, reminder)) %>
      <% end %>
      <% if policy([reminder.contact, reminder]).destroy? %>
        <%= delete_button(contact_reminder_path(reminder.contact, reminder)) %>
      <% end %>
    </div>
  </td>
</tr>
