<% contact = contact.decorate %>
<li  id= "<%= dom_id(contact) %>">
  <div class="relative  px-4 sm:px-10   py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-pink-500" id="show" data-reflex="click->Contact#show" data-contact-id="<%= contact.id %>">
    <div class="flex-shrink-0">
       <%= image_tag "male-placeholder-image.png", class: "w-10 h-10 rounded-full" %>
    </div>
    <div class="flex-1 min-w-0">
      <!-- Extend touch target to entire panel -->
      <span class="absolute inset-0" aria-hidden="true"></span>
      <a href="<%= contact_about_index_path(contact) %>">
        <p class="text-sm font-medium text-gray-900" ><%= contact.display_name %></p>
        <p class="text-sm text-gray-500 truncate"><%= contact.email %></p>
      </a>
    </a>
  </div>
</div>
</li>
