   <main class="max-w-lg px-4 pt-10 pb-12 mx-auto space-y-6 lg:pb-16 " >
  <%= render "shared/form_messages", resource: contact, message: local_assigns[:message] %>
  <%= render "shared/form_header", title: title, subtitle: subtitle %>
  <%= tailwind_form_with(model: contact, id: dom_id(contact), class: "space-y-6") do |form| %>
    <%= form.text_field :first_name, "First Name", autocomplete: "off" %>
    <%= form.text_field :last_name, "Last Name", autocomplete: "off" %>
    <%= form.text_field :email, "Email", autocomplete: "off" %>
    <%= form.text_field :phone, "Phone", autocomplete: "off" %>
    <div class="">
      <label for="group" class="block  text-sm font-medium text-gray-700">
        Select Relation
      </label>
      <select name="contact[relation_id]" class="form-text-field mt-1">
        <% if contact.relation_id.nil? %>
          <option value="" selected="selected">None</option>
        <% else %>
          <option value="">None</option>
        <% end %>
        <% Relation.all.order(:name).decorate.each do |relation| %>
          <% if contact.relation_id == relation.id %>
            <option selected= "selected" value="<%= relation.id %>"><%= relation.name.upcase_first %></option>
          <% else %>
            <option value="<%= relation.id %>"><%= relation.name.upcase_first %></option>
          <% end %>
        <% end %>
      </select>
    </div>
<<<<<<< HEAD
    <%= form.text_area :intro, "Quick Introduction", autocomplete: "off", class: "h-16 form-text-field" %>
    <div class="flex justify-end">
      <%= link_to "Back", "javascript:history.back()", class: "btn-normal " %>
      <%= form.submit "Save and Add More", class: "btn-blue" %>
      <%= form.submit "Save", class: "btn-blue " %>
    </div>
  </main>
<% end %>
=======
    <div class="" data-controller="counter"  >
      <label for="group" class="block  text-sm font-medium text-gray-700">
        Select Group
      </label>
      <div class="absolute inset-y-0 right-0 items-center flex-shrink-0 pr-2 py-2 sm:static sm:inset-auto sm:pr-0">
        <!-- Profile dropdown -->
        <div class="flex-auto space-x-2 "  data-target="counter.groups" >
          <div class="pb-2 space-x-2 space-y-2" >
            <% if !contact_batches.blank?%>
              <% contact_batches.decorate.each do |contact_batch| %>
                <span class='items-center whitespace-nowrap px-2 py-0.5 rounded-full text-xs font-medium bg-gray-100 text-gray-800 '><%=contact_batch.display_name%></span>
              <% end %>
            <% end %>
          </div>
        </div>
        <div @click.away="open = false" class="relative z-10 " x-data="{ open: false }">
          <div>
            <button @click="open = !open" type="button" class="relative w-full cursor-default rounded-md border border-gray-300 bg-white py-2 pl-3 pr-10 text-left shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
              <span class="block truncate">  Select Group</span>
              <span class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
                <!-- Heroicon name: mini/chevron-up-down -->
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
                </svg>
              </span>
            </button>
            <ul x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
              <% if !batches.nil?  %>
                <% batches.decorate.each do |batch| %>
                  <li class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9" id="listbox-option-0" role="option">
                    <% if !contact_batches.blank? && contact_batches.any? {|u| u.id == batch.id}%>
                      <input id="<%=batch.display_name%>" checked name="groups[]" type="checkbox" value="<%=batch.id%>" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" data-action="counter#change">
                    <% else %>
                      <input id="<%=batch.display_name%>"  name="groups[]" type="checkbox" value="<%=batch.id%>" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" data-action="counter#change">
                    <% end %>
                    <%= batch.name.titleize %>
                  </li>
                <% end %>
              <% end %>
              <ul> </div>
            </div>
          </div>
        </div>
        <%= form.text_area :intro, "Quick Introduction", autocomplete: "off", class: "h-16 form-text-field" %>
        <div class="flex justify-end">
          <%= link_to "Back", "javascript:history.back()", class: "btn-normal " %>
          <%= form.submit "Save and Add More", class: "btn-blue" %>
          <%= form.submit "Save", class: "btn-blue " %>
        </div>
      </main>
    <% end %>
>>>>>>> ea91baf4 (add remove groups added in edit and update contact)
