   <main class="max-w-lg px-4 pt-10 pb-12 mx-auto space-y-6 lg:pb-16 ">
  <%= render "shared/form_messages", resource: contact, message: local_assigns[:message] %>
  <%= render "shared/form_header", title: title, subtitle: subtitle %>
  <%= form_with(model: Contact, url:"#{import_contacts_path}", method: :post, class:"flex mt-2 ") do |form| %>
    <%= form.file_field :file_name, class:"form-text-field py-1 ", :style=>" opacity: 0; position: absolute;z-index: -1;", accept: 'text/csv' %>
    <%= form.submit "Upload", class: "btn-blue   py-0.5" %>
  <% end %>
  <%= tailwind_form_with(model: contact, id: dom_id(contact), class:"space-y-3") do |form| %>
    <%= form.text_field :first_name, "First Name", autocomplete: "off" %>
    <%= form.text_field :last_name, "Last Name", autocomplete: "off" %>
    <%= form.text_field :email, "Email", autocomplete: "off" %>
    <%= form.text_field :phone, "Phone", autocomplete: "off" %>
    <div class="">
      <label for="group" class="block  text-sm font-medium text-gray-700">
        Select Relation
      </label>
      <select name="contact[relation_id]" class="form-text-field mt-1">
        <% if contact.relation_id.nil? %>
          <option value="" selected="selected">None</option>
        <% else %>
          <option value="">None</option>
        <% end %>
        <% Relation.all.order(:name).decorate.each do |relation| %>
          <% if contact.relation_id == relation.id %>
            <option selected= "selected" value="<%= relation.id %>"><%= relation.name.upcase_first %></option>
          <% else %>
            <option value="<%= relation.id %>"><%= relation.name.upcase_first %></option>
          <% end %>
        <% end %>
      </select>
    </div>
    <%= form.text_area :intro, "Quick Introduction", autocomplete: "off", class: "h-16 form-text-field" %>
    <div class="flex justify-end">
      <%= link_to "Back", "javascript:history.back()", class: "btn-normal" %>
      <%= form.submit "Save", class: "btn-blue" %>
    </div>
  </main>
<% end %>
