  <%= turbo_frame_tag dom_id(contact_activity) do %>
  <li class="">
    <div class="flex mt-6 space-x-3">
      <div>
        <div class="text-sm text-gray-900 font-medium">
          <p class="whitespace-pre-wrap"><%= contact_activity.title.upcase_first %> (<%= contact_activity.activity.name.upcase_first %>)</p>
        </div>
        <div  class=" text-sm text-gray-700 -mt-3" data-controller="show-more">
          <p style="white-space: pre-line; word-break: break-all;" data-target="show-more.truncate">
            <%= highlight_hashtag(auto_link_urls_in_text(contact_activity.body.truncate(500).upcase_first)) %>
          </p>
          <p style="white-space: pre-line; word-break: break-all;" data-target="show-more.full" class="hidden">
            <%= highlight_hashtag(auto_link_urls_in_text(contact_activity.body.upcase_first)) %>
          </p>
          <% if contact_activity.body.strip.length > 500 %>
            <button type="button"  class=" btn-inline-edit text-blue-800 hover:text-blue-600 " data-action="click->show-more#toggle" data-target="show-more.button">
              Show more
            </button>
          <% end %>
        </div>
        <div class="mt-2 space-x-2 text-sm inline-flex">
          <span class="font-normal text-gray-500"><%= display_date(contact_activity.date) %></span>
          <div class="space-x-1">
            <% if policy([contact_activity.contact, contact_activity]).edit? %>
              <%= edit_button(edit_contact_contact_activity_path(contact_activity.contact, contact_activity)) %>
            <% end %>
            <% if policy([contact_activity.contact, contact_activity]).destroy? %>
              <%= delete_button("/#{current_user.account.id}/contacts/#{@contact.id}/contact_activities/#{contact_activity.id}") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </li>
<% end %>
