<h2 class="sr-only" id="section-2-title">Add Activity</h2>
<div class="bg-white">
  <div class="px-4">
    <%= tailwind_form_with(model: contact_activity, id: dom_id(contact_activity), url: "/#{current_user.account.id}/contacts/#{contact.id}/contact_activities") do |form| %>
      <div class="space-y-6 px-4 pt-6  mx-auto">
        <%= render "shared/form_messages", resource: contact_activity, message: local_assigns[:message] %>
        <%= render "shared/form_header", title: "Add Activity", subtitle: "" %>
        <%= form.text_field :name, "Name", autocomplete: "off" %>
        <%= form.text_area :body, "Description", class: "form-text-field" %>
        <div>
          <label for="date" class="block text-sm font-medium text-gray-700">
            Date
          </label>
          <%= form.date_field :date, class: "form-text-field mt-1", value: Date.today.to_formatted_s(:db) %>
        </div>
        <div x-data="packageList()">
          <div class="">
            <label for="group" class="block  text-sm font-medium text-gray-700">
              Select Group
            </label>
            <%= form.collection_select("group_id", Group.all.where(category:"activity").order(:name).decorate, :id, :display_name, { :prompt => "Select Group" }, :class => "form-text-field mt-1", ) %>
          </div>
          <div id="activity">
            <label for="group" class="block  text-sm font-medium text-gray-700">
              Select Activity
            </label>
            <%= form.collection_select("activity_id", Activity.all.where(category:"activity").order(:name).decorate, :id, :display_name, { :prompt => "Select Group" }, :class => "form-text-field mt-1") %>
          </div>
        </div>
        <div class="flex justify-end ">
          <%= form.submit "Add Relation", class: "btn-blue" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
