<main class="contact_activity z-0 flex-1 overflow-x-auto focus:outline-none h-screen">
  <%= render partial: "contact/title", locals: { contact: @contact,labels:@labels,event: @event, call: @call,contact_labels:@contact_labels } %>
  <main class="">
    <div class="px-4 sm:px-6">
      <!-- Main 3 column grid -->
      <div class="grid items-start grid-cols-1 gap-2 lg:grid-cols-3 lg:gap-2">
        <!-- Left column -->
        <div class="grid grid-cols-1 gap-4 lg:col-span-2" id="project_gifts" data-controller="infinite-scroll">
          <section aria-labelledby="participants_section">
            <h2 class="sr-only" id="section-1-title">Activities</h2>
            <div class="overflow-hidden bg-white">
              <div class="p-4">
                <div class="flex flex-wrap">
                  <p class=" mt-1 text-sm font-medium text-gray-900 truncate">Activities(<%= @pagy.count.to_s %>)</p>
                </div>
                <div class="mt-1 ">
                  <ul class=" " id="contact_activities" data-infinite-scroll-target="entries">
                    <%= render partial: "activity", collection: @contact_activities, as: :contact_activity, cached: false %>
                  </ul>
                </div>
              </div>
              <div class="flex justify-end mt-2 mb-6 mr-2 invisible" data-infinite-scroll-target="pagination">
                <%== render partial: "shared/paginator", locals: { pagy: @pagy } %>
              </div>
            </div>
          </section>
        </div>
        <% if policy([@contact, ContactActivity]).create? %>
          <!-- Right column -->
          <div class="grid grid-cols-1 gap-4 xl:border-l xl:border-gray-200 h-full">
            <section aria-labelledby="add-participant-section" id="search" >
              <h2 class="sr-only" id="section-2-title">Add Activity</h2>
              <div class="bg-white">
                <div class="px-4">
                  <%= render partial: "form", locals: { contact_activity: @contact_activity, contact: @contact, activities: Activity.all.order(:name).decorate }, cached: true %>
                </div>
              </div>
            </section>
          </div>
        <% end %>
      </div>
    </main>
  </main>
