  <%= turbo_frame_tag dom_id(about) do %>
  <% frame_id1 = dom_id(about, "address_turbo_frame") %>
  <%= form_with(model: about, id: dom_id(about), url: contact_about_path(contact, about), data: { turbo_frame: frame_id1 }) do |form| %>
    <%= turbo_frame_tag frame_id1, class: "inline-edit" do %>
      <div class="border-b border-gray-200  pb-4">
        <div class=" items-start  xl:grid xl:grid-flow-col  lg:max-w-full mt-2 ">
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3">
            <dt class="text-sm font-normal text-gray-500" >Address: </dt>
          </div>
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3 text-right">
            <span class="ml-6 flex-shrink-0">
              <% if policy([about.contact, about]).update? %>
                <%= link_to "Update", edit_contact_about_path(about.contact, about), class: "btn-inline-edit font-normal" %>
                <%= delete_button(contact_about_path(about.contact, about, :delete => "address")) %>
              <% end %>
            </span>
          </div>
        </div>
        <div class="block xl:col-span-6 mt-1  ">
          <% if !about.address.blank? %>
            <dt class="text-sm font-normal text-gray-900  "   x-data="{ isCollapsed: false, maxLength: 520, originalContent: '', content: '' }"
   x-init="originalContent = $el.firstElementChild.textContent.trim(); content = originalContent.slice(0, maxLength)"  style="overflow-wrap: break-word; " >
              <span x-text="isCollapsed ? originalContent : content" style="white-space: pre-wrap;"> <%= about.address.upcase_first %></span>
              <a
      @click="isCollapsed = !isCollapsed"
      x-show="originalContent.length > maxLength"
                x-text="isCollapsed ? 'Show less' : 'Show more'" style="float:right;" class="btn-inline-edit text-blue-800 hover:text-blue-600"
                ></a></dt>
          <% else %>
            <dt class="text-xs font-normal text-gray-600">-</dt>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% frame_id = dom_id(about, "breif_turbo_frame") %>
  <%= form_with(model: about, id: dom_id(about), url: contact_about_path(contact, about), data: { turbo_frame: frame_id }) do |form| %>
    <%= turbo_frame_tag frame_id, class: "inline-edit" do %>
      <div class="border-b border-gray-200  py-4 ">
        <div class=" items-start  xl:grid xl:grid-flow-col  lg:max-w-full ">
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3">
            <dt class="text-sm font-normal text-gray-500 whitespace-pre-wrap break-words" >Brief About <%= contact.decorate.display_name %></dt>
          </div>
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3 text-right">
            <% if policy([about.contact, about]).update? %>
              <span class="ml-6 flex-shrink-0">
                <%= link_to "Update", edit_contact_about_path(about.contact, about), class: "btn-inline-edit font-normal" %>
                <%= styled_delete_button(contact_about_path(about.contact, about, :delete => "breif"), "text-sm text-gray-400 hover:text-red-600 cursor-pointer font-normal") %>
              </span>
            <% end %>
          </div>
        </div>
        <div class="block xl:col-span-6 mt-1">
          <% if !about.breif.blank? %>
            <dt class="text-sm font-normal text-gray-900  "   x-data="{ isCollapsed: false, maxLength: 520, originalContent: '', content: '' }"
   x-init="originalContent = $el.firstElementChild.textContent.trim(); content = originalContent.slice(0, maxLength)"  style="overflow-wrap: break-word; " >
              <span x-text="isCollapsed ? originalContent : content" style="white-space: pre-wrap;"><%= about.breif.upcase_first %></span>
              <a
      @click="isCollapsed = !isCollapsed"
      x-show="originalContent.length > maxLength"
                x-text="isCollapsed ? 'Show less' : 'Show more'" style="float:right;" class="btn-inline-edit text-blue-800 hover:text-blue-600"
                ></a></dt>
          <% else %>
            <dt class="text-xs font-normal text-gray-600">-</dt>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% frame_id = dom_id(about, "met_turbo_frame") %>
  <%= form_with(model: about, id: dom_id(about), url: contact_about_path(contact, about), data: { turbo_frame: frame_id }) do |form| %>
    <%= turbo_frame_tag frame_id, class: "inline-edit" do %>
      <div class="border-b border-gray-200  py-4 ">
        <div class=" items-start  xl:grid xl:grid-flow-col  lg:max-w-full ">
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3">
            <dt class="text-sm font-normal text-gray-500" >How You Met <%= contact.decorate.display_name %></dt>
          </div>
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3 text-right">
            <span class="ml-6 flex-shrink-0">
              <% if policy([about.contact, about]).update? %>
                <%= link_to "Update", edit_contact_about_path(about.contact, about), class: "btn-inline-edit font-normal" %>
                <%= styled_delete_button(contact_about_path(about.contact, about, :delete => "met"), "text-sm text-gray-400 hover:text-red-600 cursor-pointer font-normal") %>
              <% end %>
            </span>
          </div>
        </div>
        <div class="block xl:col-span-6 mt-1">
          <% if !about.met.blank? %>
            <dt class="text-sm font-normal text-gray-900  "   x-data="{ isCollapsed: false, maxLength: 520, originalContent: '', content: '' }"
   x-init="originalContent = $el.firstElementChild.textContent.trim(); content = originalContent.slice(0, maxLength)"  style="overflow-wrap: break-word; " >
              <span x-text="isCollapsed ? originalContent : content" style="white-space: pre-wrap;"><%= about.met.upcase_first %></span>
              <a
      @click="isCollapsed = !isCollapsed"
      x-show="originalContent.length > maxLength"
                x-text="isCollapsed ? 'Show less' : 'Show more'" style="float:right;" class="btn-inline-edit text-blue-800 hover:text-blue-600 pb-2"
                ></a></dt>
          <% else %>
            <dt class="text-xs font-normal text-gray-600">-</dt>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% frame_id = dom_id(about, "habit_turbo_frame") %>
  <%= form_with(model: about, id: dom_id(about), url: contact_about_path(contact, about), data: { turbo_frame: frame_id }) do |form| %>
    <%= turbo_frame_tag frame_id, class: "inline-edit" do %>
      <div class="border-b border-gray-200  py-4">
        <div class=" items-start  xl:grid xl:grid-flow-col  lg:max-w-full ">
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3">
            <dt class="text-sm font-normal text-gray-500" >Habits And Preferences</dt>
          </div>
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3 text-right">
            <span class="ml-6 flex-shrink-0">
              <% if policy([about.contact, about]).update? %>
                <%= link_to "Update", edit_contact_about_path(about.contact, about), class: "btn-inline-edit font-normal" %>
                <%= styled_delete_button(contact_about_path(about.contact, about, :delete => "habit"), "text-sm text-gray-400 hover:text-red-600 cursor-pointer font-normal") %>
              <% end %>
            </span>
          </div>
        </div>
        <div class="block xl:col-span-6 mt-1">
          <% if !about.habit.blank? %>
            <dt class="text-sm font-normal text-gray-900  "   x-data="{ isCollapsed: false, maxLength: 520, originalContent: '', content: '' }"
   x-init="originalContent = $el.firstElementChild.textContent.trim(); content = originalContent.slice(0, maxLength)"  style="overflow-wrap: break-word; " >
              <span x-text="isCollapsed ? originalContent : content" style="white-space: pre-wrap;"><%= about.habit.upcase_first %></span>
              <a
      @click="isCollapsed = !isCollapsed"
      x-show="originalContent.length > maxLength"
                x-text="isCollapsed ? 'Show less' : 'Show more'" style="float:right;" class="btn-inline-edit text-blue-800 hover:text-blue-600"
                ></a></dt>
          <% else %>
            <dt class="text-xs font-normal text-gray-600">-</dt>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% frame_id = dom_id(about, "work_turbo_frame") %>
  <%= form_with(model: about, id: dom_id(about), url: contact_about_path(contact, about), data: { turbo_frame: frame_id }) do |form| %>
    <%= turbo_frame_tag frame_id, class: "inline-edit" do %>
      <div class="border-b border-gray-200  py-4">
        <div class=" items-start  xl:grid xl:grid-flow-col  lg:max-w-full ">
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3">
            <dt class="text-sm font-normal text-gray-500" >Work Information</dt>
          </div>
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3 text-right">
            <span class="ml-6 flex-shrink-0">
              <% if policy([about.contact, about]).update? %>
                <%= link_to "Update", edit_contact_about_path(about.contact, about), class: "btn-inline-edit font-normal" %>
                <%= styled_delete_button(contact_about_path(about.contact, about, :delete => "work"), "text-sm text-gray-400 hover:text-red-600 cursor-pointer font-normal") %>
              <% end %>
            </span>
          </div>
        </div>
        <div class="block xl:col-span-6 mt-1">
          <% if !about.work.blank? %>
            <dt class="text-sm font-normal text-gray-900  "   x-data="{ isCollapsed: false, maxLength: 520, originalContent: '', content: '' }"
   x-init="originalContent = $el.firstElementChild.textContent.trim(); content = originalContent.slice(0, maxLength)"  style="overflow-wrap: break-word; " >
              <span x-text="isCollapsed ? originalContent : content" style="white-space: pre-wrap;"><%= about.work.upcase_first %></span>
              <a
      @click="isCollapsed = !isCollapsed"
      x-show="originalContent.length > maxLength"
                x-text="isCollapsed ? 'Show less' : 'Show more'" style="float:right;" class="btn-inline-edit text-blue-800 hover:text-blue-600"
                ></a></dt>
          <% else %>
            <dt class="text-xs font-normal text-gray-600">-</dt>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% frame_id = dom_id(about, "other_turbo_frame") %>
  <%= form_with(model: about, id: dom_id(about), url: contact_about_path(contact, about), data: { turbo_frame: frame_id }) do |form| %>
    <%= turbo_frame_tag frame_id, class: "inline-edit" do %>
      <div class="border-b border-gray-200  py-4">
        <div class=" items-start  xl:grid xl:grid-flow-col  lg:max-w-full ">
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3">
            <dt class="text-sm font-normal text-gray-500" >Other</dt>
          </div>
          <div class="grid grid-cols-1  lg:col-span-2 xl:col-span-3 text-right">
            <span class="ml-6 flex-shrink-0">
              <% if policy([about.contact, about]).update? %>
                <%= link_to "Update", edit_contact_about_path(about.contact, about), class: "btn-inline-edit font-normal" %>
                <%= styled_delete_button(contact_about_path(about.contact, about, :delete => "other"), "text-sm text-gray-400 hover:text-red-600 cursor-pointer font-normal") %>
              <% end %>
            </span>
          </div>
        </div>
        <div class="block xl:col-span-6 mt-1">
          <% if !about.other.blank? %>
            <dt class="text-sm font-normal text-gray-900  "   x-data="{ isCollapsed: false, maxLength: 520, originalContent: '', content: '' }"
   x-init="originalContent = $el.firstElementChild.textContent.trim(); content = originalContent.slice(0, maxLength)"  style="overflow-wrap: break-word; " >
              <span x-text="isCollapsed ? originalContent : content" style="white-space: pre-wrap;"><%= about.other.upcase_first %></span>
              <a
      @click="isCollapsed = !isCollapsed"
      x-show="originalContent.length > maxLength"
                x-text="isCollapsed ? 'Show less' : 'Show more'" style="float:right;" class="btn-inline-edit text-blue-800 hover:text-blue-600"
                ></a></dt>
          <% else %>
            <dt class="text-xs font-normal text-gray-600">-</dt>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
