<%= tailwind_form_with(model: journal, id: dom_id(journal)) do |form| %>
  <main class="max-w-3xl px-4 pt-10 pb-12 mx-auto space-y-6 lg:pb-16">
    <%= render "shared/form_messages", resource: journal, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: title, subtitle: subtitle %>
    <%= form.text_field :title, "Title", autocomplete: "off" %>
    <%= form.text_area :body, "Description", class: "h-24 form-text-field" %>
    <div class="flex justify-end">
      <%= link_to "Back", journals_path(@contact), class: "ml-3 btn-normal " %>
      <%= form.submit "Save", class: "btn-blue" %>
    </div>
  </main>
<% end %>
