<li class="relative border-b border-gray-200  bg-white py-3 px-4 "  >
  <div class="flex justify-between space-x-3">
    <div class="min-w-0 flex-1">
      <a href="<%= journal_path(journal) %>" class="block focus:outline-none hover:underline" target="_top">
        <p class="truncate ... text-sm font-medium text-gray-900"> <%= journal.title.upcase_first %></p>
      </a>
      <p class="text-sm text-gray-500 line-clamp"> <%= journal.body.upcase_first %></p>
    </div>
    <div class="whitespace-nowrap ">
      <% if policy(journal).edit? %>
        <%= edit_button(edit_journal_path(journal)) %>
      <% end %>
      <% if policy(journal).destroy? %>
        <%= delete_button(journal_path(journal)) %>
      <% end %>
    </div>
  </div>
  <div class="mt-1">
    <time datetime="2021-01-27T16:35" class="flex-shrink-0 whitespace-nowrap text-sm text-gray-500"><%= display_created_at(journal) %></time>
  </div>
</li>
