<!-- This example requires Tailwind CSS v2.0+ -->
<main class="max-w-4xl px-4 pt-10 pb-12 mx-auto space-y-6 lg:pb-16">
  <div class="px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
    <div class="flex-1 min-w-0">
      <h3 class="text-2xl font-bold leading-tight text-gray-900">
        <%= @journal.title.upcase_first %>
      </h3>
      <div class="flex mt-4 space-x-3">
        <div>
          <div class="mt-1 space-x-2 text-sm">
            <span class="font-medium text-gray-500"> Created at <%= display_created_at(@journal) %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex mt-4 sm:mt-0 sm:ml-4">
      <%= link_to "Back", "javascript:history.back()", class: "btn-normal" %>
    </div>
    <% if policy(@journal).edit? %>
      <%= styled_delete_button(release_note_path(@journal), "btn-normal bg-red-600 text-white ml-4") %>
      <%= link_to "Edit", edit_journal_path(@journal), class: "btn-blue ml-3" %>
    <% end %>
  </div>
  <% cache @journal do %>
    <div class="text-sm text-gray-700 sm:px-6 lg:px-8">
      <p><%= @journal.body %></p>
    </div>
  <% end %>
  <section aria-labelledby="notes-title">
    <div class="pb-24 bg-white sm:rounded-lg overflow">
      <div class="divide-y divide-gray-200">
        <div class="px-4 py-5 sm:px-6">
          <h2 id="notes-title" class="text-lg font-medium text-gray-900">Comments</h2>
        </div>
        <div class="px-4 py-6 sm:px-6">
          <ul class="space-y-4" id="comments">
            <%= render partial: "journal_comments/comment", collection: @journal.comments.order(created_at: :asc), as: :comment, cached: true %>
          </ul>
        </div>
      </div>
      <% if policy(@journal).comment? %>
        <%= render partial: "journal_comments/add", locals: { journal: @journal, comment: @comment } %>
      <% end %>
    </div>
  </section>
</main>
