<!-- This example requires Tailwind CSS v2.0+ -->
<main class="max-w-4xl px-4 pt-10 pb-12 mx-auto space-y-4 lg:pb-16">
  <div class="px-4  sm:flex sm:items-center sm:justify-between sm:px-6" id="journal-header">
    <%= render partial: "shared/journals/title", locals: { journal: @journal } %>
    <div class="flex  sm:mt-0 sm:ml-4 flex-auto justify-end">
      <%= link_to "Back", "javascript:history.back()", class: "btn-normal" %>
      <% if policy(@journal).edit? %>
        <%= link_to "Edit", edit_journal_path(@journal), class: "btn-blue ml-3" %>
      <% end %>
    </div>
  </div>
  <% cache @journal do %>
    <div class="text-sm text-gray-700 sm:px-6 ">
      <p><%= @journal.body.upcase_first %></p>
    </div>
  <% end %>
  <section aria-labelledby="journal-title">
    <div class="pb-24 bg-white sm:rounded-lg overflow">
      <div class="divide-y divide-gray-200">
        <div class="px-4 py-3 sm:px-6">
          <h2 id="journal-title" class="text-lg font-semibold text-gray-900">Comments</h2>
        </div>
        <div class=" py-4 ">
          <ul class="space-y-4" id="comments">
            <%= render partial: "journal_comments/comment", collection: @journal.comments.order(created_at: :asc), as: :comment, cached: true %>
          </ul>
        </div>
      </div>
      <% if policy(@journal).comment? %>
        <%= render partial: "journal_comments/add", locals: { journal: @journal, comment: @comment } %>
      <% end %>
    </div>
  </section>
</main>
