<%= turbo_frame_tag dom_id(@activity) do %>
  <%= tailwind_form_with(model: @activity, id: dom_id(@activity), url: account_activity_path(@activity)) do |form| %>
    <div class="mt-2 text-sm text-red-700">
      <% if local_assigns[:messages] && defined?(messages) && !messages.nil? %>
        <ul class="pl-1 space-y-1 pt-1">
          <% messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <li class="flex w-full py-4 border-b border-gray-200">
      <div class="w-full space-y-6">
        <label for="owned_by" class="block text-sm font-medium text-gray-700">
          Edit Activity
        </label>
        <div class="">
          <label for="relation" class="block  text-sm font-medium text-gray-700">
            Select Group
          </label>
          <%= form.collection_select("group_id", Group.all.where(category:"activity").order(:name).decorate, :id, :display_name, { :prompt => "Select Group" }, :class => "form-text-field mt-1") %>
        </div>
        <%= form.text_field :name, "Activity", autocomplete: "off", class: "form-text-field"  %>
        <div class="flex justify-end ">
          <%= form.submit "Save", class: "btn-blue  " %>
        </div>
      </div>
    </li>
  <% end %>
<% end %>
