
<% contact = contact.decorate %>
<li  id= "<%= dom_id(contact) %>" class=" " style="list-style-type: none;">
  <div class="  justify-between  py-5 flex items-center space-x-2 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-pink-500 border-b border-gray-200" >
    <div class="flex-shrink-0">
      <%= image_tag "male-placeholder-image.png", class: "w-10 h-10 rounded-full" %>
    </div>
    
    <div class="cursor-pointer flex-1 min-w-0"  id="show" data-reflex="click->Contact#show" data-contact-id="<%= contact.id %>" >     
      <p class="text-sm font-medium text-gray-900" ><%= contact.display_name %></p>
      <p class="text-sm text-gray-500 truncate">

       <%if !contact.phone.nil?  %>
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-flex" style="width: .8rem;height:.8rem" viewBox="0 0 20 20" fill="currentColor">
          <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
        </svg>
       <%= contact.phone  %>
       <% else %>
      <svg class="inline-flex" style="width: .8rem;height:.8rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
              <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
            </svg>
       <%=contact.email%>
       <% end %>
  

  </div>
        <div class="">
          <%= delete_button("/#{batch.account.id}/batches/#{batch.id}/remove?contact_id=#{contact.id}")%>             
  
 </div>
 

</div>

</li>

