<% if !batch.blank? %>
  <div class=" border-r border-gray-200 h-full " id="show" >
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <section aria-labelledby="participants_section"  >
      <div class="overflow-hidden bg-white h-[calc(100vh-5.75rem)]  max-content top-16 overflow-y-scroll overscroll-contain" >
        <div class="px-4 sm:px-6 py-6">
          <div class="flex items-center justify-between ">
            <div class="flex flex-wrap items-baseline ">
              <div class="flex   items-baseline inline-block " style="width: 18rem;">
                <h1 class="text-3xl  font-bold leading-tight text-gray-900  truncate .. "><%= batch.name.titleize %></h1>
                <p class="mt-2  text-sm text-gray-600">(<%= contacts.count.to_s %>)</p>
              </div>
              <div class="mt-1 text-sm text-gray-600 pb-2">
                <p>Please add contacts to group.</p>
              </div>
            </div>
          </div>
          <div  class="">
            <% if defined?(message) && !message.nil? %>
              <%= render "search", { batch: batch, message: message } %>
            <% else %>
              <%= render "search", { batch: batch } %>
            <% end %>
            <div class="relative px-6 h-full ">
            </div>
            <nav class="flex-1 pt-6">
              <ul role="list" class="relative z-0 divide-y divide-gray-200 h-full" id="batch_contacts">
                <%= render "contact", { batch: batch, contacts: contacts } %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </div>
<% end %>
