<div class="h-full flex overflow-y-hidden">
  <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
  <div class="border-r border-gray-200 h-screen">
    <div class=" lg:flex lg:flex-shrink-0 ">
      <div class="flex flex-col " style="width: 24rem;">
        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div class="flex-1 flex flex-col min-h-0 ">
          <div class="flex-1 flex flex-col  " >
            <nav class=" flex-1" aria-label="Sidebar">
              <div class="overflow-hidden bg-white h-[calc(100vh-5.75rem)]  max-content top-16 overflow-y-scroll overscroll-contain">
                <div class="px-4 sm:px-6 py-6">
                  <div class=" flex flex-wrap items-baseline ">
                    <h1 class="text-3xl font-bold leading-tight text-gray-900">Groups</h1>
                    <p class="mt-2 ml-1 text-sm text-gray-600 truncate">(<%= @batches.count.to_s %>)</p>
                  </div>
                  <div class="mt-1 text-sm text-gray-600 pb-2">
                    <p>You can create a group of contacts.</p>
                  </div>
                  <div id="batches_form" class="pb-2">
                    <%= render "form", batch: @batch %>
                  </div>
                  <div id="batches" class="pt-6 ">
                    <nav class="h-full">
                      <%= render @batches %>
                    </nav>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Static sidebar for desktop -->
  <div class=" flex   md:flex-1 shrink-0  "  >
    <div class="flex flex-col " style="width: 24rem;" >
      <div class="flex-1 flex flex-col min-h-0  " id="show1">
        <% if params[:batch_id] %>
          <% message = "Contact added successfully to group" %>
          <% batch = Batch.find(params[:batch_id]) %>
          <%= render partial: "show", locals: { batch: batch, contacts: batch.contacts.uniq, message: message } %>
        <% end %>
        <%= render partial: "show", locals: { batch: [], contacts: [] } %>
      </div>
    </div>
    <div class="flex flex-col min-w-0 flex-1  ">
      <main class="flex-1 relative z-0 ">
        <!-- Breadcrumb -->
        <div id="profile" class="overflow-y-scroll focus:outline-none h-[calc(100vh-5.75rem)]  max-content top-0 overflow-y-scroll">
          <% if params[:contact_id] %>
            <%= render partial: "batches/profile", locals: { contact: Contact.find(params[:contact_id]), relatives: Relative.includes(:contact, :relation).where(first_contact_id: params[:contact_id]) } %>
          <% end %>
          <%= render partial: "profile", locals: { contact: [] } %>
        </div>
      </main>
    </div>
  </div>
</div>
<script type="text/javascript">
  window.onload = function() {
    var url = window.location.href;
   let paramString = url.split('?')[1];
   let queryString = new URLSearchParams(paramString);
     for(let pair of queryString.entries()) {
      if(!typeof pair[1]!==null) {
            document.getElementById("group_"+pair[1]).click();
     }
        }

  }
</script>
