<main class="relative z-0 flex-1 overflow-hidden focus:outline-none">
  <main class="">
    <!-- Main 3 column grid -->
    <div class="grid items-start grid-cols-1  lg:grid-cols-4">
      <div class="grid grid-cols-1 col-span-1 border-r  lg:gap-4 border-gray-200  "   >
        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div class="flex-1 flex flex-col min-h-0 ">
          <div class="flex-1 flex flex-col  " >
            <nav class=" flex-1" aria-label="Sidebar">
              <div class="overflow-hidden bg-white  h-screen min-h-full  max-content top-16 overflow-y-scroll overscroll-contain">
                <div class="px-4 sm:px-6 py-6 mb-4">
                  <div class=" flex flex-wrap items-baseline ">
                    <h1 class="text-3xl font-bold leading-tight text-gray-900">Groups</h1>
                    <p class="mt-2 ml-1 text-sm text-gray-600 truncate">(<%= @pagy.count.to_s %>)</p>
                  </div>
                  <div class="mt-1 text-sm text-gray-600 pb-2">
                    <p>You can create a group of contacts.</p>
                  </div>
                  <div id="batches_form" class="pb-2">
                    <%= render "form", batch: Batch.new %>
                  </div>
                  <div  class="pt-6 "  data-controller="infinite-scroll">
                    <nav class="h-full " id="batches"  data-infinite-scroll-target="entries">
                      <%= render partial: "batch", collection: @batches, cached: true %>
                    </nav>
                    <div class="flex justify-end mt-2   mr-2 invisible" data-infinite-scroll-target="pagination">
                      <%= render partial: "shared/paginator", locals: { pagy: @pagy } %>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <!-- Static sidebar for desktop -->
      <div class="grid grid-cols-1 lg:col-span-1" >
        <div id="show1"  >
          <% if params[:batch_id].present? %>
            <%= render partial: "show", locals: { batch: @batch, contacts: @contacts } %>
          <% end %>
        </div>
      </div>
      <div class="grid grid-cols-1 lg:col-span-2">
        <!-- Breadcrumb -->
        <div id="profile" class="h-screen min-h-full  max-content top-16 overflow-y-scroll overscroll-contain">
          <% if params[:contact_id] %>
            <%= render partial: "batches/profile", locals: { contact: @contact, group_id: @batch.id } %>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</main>
<script type="text/javascript">
  window.onload = function() {
    var url = window.location.href;
   let paramString = url.split('?')[1];
   let queryString = new URLSearchParams(paramString);
     for(let pair of queryString.entries()) {
      if(!typeof pair[1]!==null) {
            document.getElementById("group_"+pair[1]).click();
     }
        }

  }
</script>
