<tr id="<%= dom_id document %>">
  <% document = document.decorate %>
  <td class="table-cell">
    <div class="text-sm text-gray-900 font-medium">
      <a href="<%= ensure_protocol(document.link) %>" target="_blank"  class="line-clamp-2 font-medium text-gray-900 block hover:underline" target="_top">
        <%= document.display_filename %>
      </a>
    </div>
    <div class="mt-1 text-sm text-gray-700">
      <p
   x-data="{ isCollapsed: false, maxLength: 500, originalContent: '', content: '' }"
   x-init="originalContent = $el.firstElementChild.textContent.trim(); content = originalContent.slice(0, maxLength)"
   >
        <span x-text="isCollapsed ? originalContent : content" style="white-space: pre-wrap; word-break: break-all;"><%= document.comments %></span>
        <button
      @click="isCollapsed = !isCollapsed"
      x-show="originalContent.length > maxLength"
          x-text="isCollapsed ? 'Show less' : 'Show more'" style="float:right;" class="btn-inline-edit text-blue-800 hover:text-blue-600 px-3"
          ></button>
      </p>
    </div>
  </td>
  <td class="table-cell align-top whitespace-nowrap">
    <% if document.contact.account.owner== document.user%>
      You 
    <% else %>
      <a href="<%= account_invitations_path %>" class="block hover:underline" target="_top">
        <%= document.user.decorate.display_name %>
      </a>
    <% end %>
  </td>
  <td class="table-cell whitespace-nowrap align-top">
    <%= display_created_at(document) %>
  </td>
  <td class="table-cell  align-top">
    <% if policy([@contact, document]).edit? %>
      <div class="flex justify-end items-center space-x-2">
        <%= edit_button(edit_contact_document_path(@contact, document)) %>
        <%= delete_button(contact_document_path(@contact, document)) %>
      </div>
    <% end %>
  </td>
</tr>
