  <% contact = contact.decorate %>
<div class="px-4 py-4 sm:flex  sm:justify-between sm:px-6 "  id="contact-header">
  <div class="flex flex-wrap items-baseline " >
    <h1 class="text-3xl font-bold leading-tight text-gray-900 ">
      <%= contact.display_name %>
    </h1>
    <div class="flex mt-2 z-10 "   >
      <div  class="inline-flex "id="contact-labels" >
        <%= render partial: "contact/labels", locals: { contact: contact, contact_labels: contact_labels, labels: labels } %>
      </div>
      <div class="flex mt-4 sm:mt-0   ml-4" >
        <% if policy(contact).edit? %>
          <div class="relative pr-4 inline-block text-left" data-controller="dropdown followup-after" >
            <div  data-followup-after-target="touched" id="touch-back">
              <%= render partial: "contact/touch_back", locals: { contact: contact }, formats: [:turbo_stream] %>
            </div>
            <div data-dropdown-target="menu" class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
              <div class="py-1" role="none">
                <% Contact::TOUCH_BACK_AFTER_OPTIONS.each do |touch| %>
                  <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                  <a href="<%= touch_back_contact_path(contact) + "?touch_back=#{touch[:id]}" %>"  data-selected="false"   data-followup-after-target="selected" data-title="<%= touch[:id] %>" data-action="click->followup-after#toggleSelected dropdown#toggle" 
                    class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0"><%= touch[:name] %>
                  </a>
                <% end %>
              </div>
            </div>
          </div>
          <div class="flex space-x-4 inline-block">
            <% if !contact.phone.blank? %>
              <div >
                <a  href="//api.whatsapp.com/send?phone=91<%= contact.phone %>"  title="WhatsApp" target="_blank" id="profile">
                  <!-- Heroicon name: solid/mail -->
                  <span class="icon-span">
                    <i class="fa-brands fa-whatsapp"></i>
                  </span>
                </a>
              </div>
              <div >
                <a  data-reflex="click->Contact#phone" data-contact-id="<%= contact.id %>"    title="Send Sms">
                  <!-- Heroicon name: solid/mail -->
                  <span class="icon-span">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-4 w-4">
                      <path d="M4.913 2.658c2.075-.27 4.19-.408 6.337-.408 2.147 0 4.262.139 6.337.408 1.922.25 3.291 1.861 3.405 3.727a4.403 4.403 0 00-1.032-.211 50.89 50.89 0 00-8.42 0c-2.358.196-4.04 2.19-4.04 4.434v4.286a4.47 4.47 0 002.433 3.984L7.28 21.53A.75.75 0 016 21v-4.03a48.527 48.527 0 01-1.087-.128C2.905 16.58 1.5 14.833 1.5 12.862V6.638c0-1.97 1.405-3.718 3.413-3.979z" />
                      <path d="M15.75 7.5c-1.376 0-2.739.057-4.086.169C10.124 7.797 9 9.103 9 10.609v4.285c0 1.507 1.128 2.814 2.67 2.94 1.243.102 2.5.157 3.768.165l2.782 2.781a.75.75 0 001.28-.53v-2.39l.33-.026c1.542-.125 2.67-1.433 2.67-2.94v-4.286c0-1.505-1.125-2.811-2.664-2.94A49.392 49.392 0 0015.75 7.5z" />
                    </svg>
                  </span>
                </a>
              </div>
            <% end %>
            <% if !contact.email.blank? %>
              <div>
                <a  href="mailto:<%= contact.email %>"  title="Send Email">
                  <!-- Heroicon name: solid/mail -->
                  <span class="icon-span">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-4 w-4">
                      <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                      <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
                    </svg>
                  </span>
                </a>
              </div>
            <% end %>
            <label for ="edit">
              <a href="<%= edit_contact_path(contact) %>" title="Edit">
                <span class="icon-span">
                  <!-- Heroicon name: outline/check-badge -->
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-4 w-4 ">
                    <path d="M5.433 13.917l1.262-3.155A4 4 0 017.58 9.42l6.92-6.918a2.121 2.121 0 013 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 01-.65-.65z" />
                    <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0010 3H4.75A2.75 2.75 0 002 5.75v9.5A2.75 2.75 0 004.75 18h9.5A2.75 2.75 0 0017 15.25V10a.75.75 0 00-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5z" />
                  </svg>
                </span>
              </a>
            </label>
            <div>
              <% archive = "<span class='icon-span'>
                    <!-- Heroicon name: outline/check-badge -->
                                                                                                                                                                                     <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' class='h-4 w-4'>
                                                                                                                                                                                       <path fill-rule='evenodd' d='M2 3a1 1 0 00-1 1v1a1 1 0 001 1h16a1 1 0 001-1V4a1 1 0 00-1-1H2zm0 4.5h16l-.811 7.71a2 2 0 01-1.99 1.79H4.802a2 2 0 01-1.99-1.79L2 7.5zM10 9a.75.75 0 01.75.75v2.546l.943-1.048a.75.75 0 111.114 1.004l-2.25 2.5a.75.75 0 01-1.114 0l-2.25-2.5a.75.75 0 111.114-1.004l.943 1.048V9.75A.75.75 0 0110 9z' clip-rule='evenodd' />
                                                                                                                                                                                     </svg>
                                                                                                                                                                                     </span>" %>
              <%= link_to archive.html_safe, "/#{contact.account.id}/archive/contact/#{contact.id}", class: "", data: {
                                                                              controller: "confirmation",
                                                                              "confirmation-message-value": "Are you sure you want to archive this contact?",
                                                                              action: "confirmation#confirm",
                                                                            }, title: "Archive" %>
            </div>
            <div class="" id="contact-favorite">
              <%=render partial: "contact/favorite", locals: {contact: contact} %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
    </div>
  </div>
</div>
<div class="inline-block flex" id="contact-relation" >
  <% restore = "<span class='icon-span'>
                                                                              <!-- Heroicon name: outline/check-badge -->
                                                            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' class='h-4 w-4'>
                                                              <path d='M2 3a1 1 0 00-1 1v1a1 1 0 001 1h16a1 1 0 001-1V4a1 1 0 00-1-1H2z' />
                                                              <path fill-rule='evenodd' d='M2 7.5h16l-.811 7.71a2 2 0 01-1.99 1.79H4.802a2 2 0 01-1.99-1.79L2 7.5zm5.22 1.72a.75.75 0 011.06 0L10 10.94l1.72-1.72a.75.75 0 111.06 1.06L11.06 12l1.72 1.72a.75.75 0 11-1.06 1.06L10 13.06l-1.72 1.72a.75.75 0 01-1.06-1.06L8.94 12l-1.72-1.72a.75.75 0 010-1.06z' clip-rule='evenodd' />
                                                            </svg>
                                                            </span>" %>
  <%= link_to restore.html_safe, unarchive_contact_path(contact), class: "ml-4", data: {
                                                                    controller: "confirmation",
                                                                    "confirmation-message-value": "Are you sure you want to restore this contact?",
                                                                    action: "confirmation#confirm",
                                                                  }, title: "Restore" %>
</div>
<% end %>
</div>
<div class="pb-4 px-6 -mt-3 flex">
  <% if contact.intro? %>
    <p class=" text-sm font-medium text-gray-500 truncate ..." style="flex-shrink: 2 ">
      <%= contact.intro.upcase_first %>
    </p>
  <% end %>
  <% if ((!event.blank? || !call.blank?) && contact.intro?) %>
    <p class="text-sm font-medium text-gray-500 px-1">
      -    
    </p>
  <% end %>
  <p class="text-sm font-medium text-gray-500 basis-1/2 truncate ... "  style="flex-grow: 1;">
    <% if (!event.blank? && !call.blank?) %>
      <%= event.action_context.upcase_first %> <%= event.decorate.trackable_name %> on <%= display_created_at(event) %> and last phone call was on <%= display_created_at(call) %>
    <% elsif !event.blank? %>
      <%= event.action_context.upcase_first %> <%= event.decorate.trackable_name %> on <%= display_created_at(event) %>
    <% elsif !call.blank? %>
      Last phone call was on <%= display_created_at(call) %>
    <% end %>
  </p>
</div>
<%= render partial: "contact/tabs", locals: { contact: contact } %>
