  <%= turbo_frame_tag dom_id(phone_call) do %>
  <li>
    <div class="flex mt-6 space-x-3">
      <div class="flex-shrink-0">
        <%= image_tag "male-placeholder-image.png", class: "w-10 h-10 rounded-full" %>
      </div>
      <div>
        <div class="text-sm ">
          <span href="#" class="font-medium text-gray-900"><%= phone_call.user.decorate.display_name %></span>
          <span class="inline-flex items-center ml-2 px-2 py-0.5 rounded text-xs font-medium bg-<%= phone_call.decorate.display_status_color %>-100 text-<%= phone_call.decorate.display_status_color %>-800"> <%= phone_call.decorate.display_status %></span>
        </div>
        <%= render partial: "shared/show_more", locals: { text: phone_call.body, truncate_length: 500 } %>
        <div class="mt-2 space-x-2 text-sm flex flex-row">
          <span class="text-gray-500"><%= display_date(phone_call.date) %></span>
          <div class="space-x-1">
            <% if policy([phone_call.contact, phone_call]).edit? %>
              <%= edit_button(edit_contact_phone_call_path(@contact, phone_call)) %>
            <% end %>
            <% if policy([phone_call.contact, phone_call]).destroy? %>
              <%= delete_button(contact_phone_call_path(@contact, phone_call)) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </li>
<% end %>
