<li>
  <%= turbo_frame_tag dom_id(phone_call) do %>
    <div class="flex mt-6 space-x-3">
      <div class="flex-shrink-0">
        <%= image_tag "male-placeholder-image.png", class: "w-10 h-10 rounded-full" %>
      </div>
      <div>
        <div class="text-sm">
          <span href="#" class="font-medium text-gray-900"><%= phone_call.user.decorate.display_name %></span>
          <span class="inline-flex items-center ml-2 px-2 py-0.5 rounded-full text-xs font-medium bg-<%= phone_call.decorate.display_status_color %>-400 text-<%= phone_call.decorate.display_status_color %>-800"> <%= phone_call.decorate.display_status %></span>
        </div>
        <div class="mt-1 text-sm text-gray-700">
          <p
   x-data="{ isCollapsed: false, maxLength: 500, originalContent: '', content: '' }"
   x-init="originalContent = $el.firstElementChild.textContent.trim(); content = originalContent.slice(0, maxLength)"
   >
            <span x-text="isCollapsed ? originalContent : content" style="white-space: pre-wrap; word-break: break-all;"><%= phone_call.body.upcase_first %></span>
            <button
      @click="isCollapsed = !isCollapsed"
      x-show="originalContent.length > maxLength"
              x-text="isCollapsed ? 'Show less' : 'Show more'" style="float:right;" class="btn-inline-edit text-blue-800 hover:text-blue-600 px-3"
              ></button>
          </div>
          <div class="mt-2 space-x-2 text-sm">
            <span class="font-normal text-gray-500"><%= display_date(phone_call.date) %></span>
            <% if policy([phone_call.contact, phone_call]).edit? %>
              <%= edit_button(edit_contact_phone_call_path(phone_call.contact, phone_call)) %>
            <% end %>
            <% if policy([phone_call.contact, phone_call]).destroy? %>
              <%= delete_button(contact_phone_call_path(phone_call.contact, phone_call)) %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </li>
