<main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <%= render partial: "contact/title", locals: { contact: @contact } %>
  <main class="min-h-screen">
     <div class="px-4 sm:px-6">
      <!-- Main 3 column grid -->
  <div class="grid items-start grid-cols-1 gap-2 lg:grid-cols-3 lg:gap-2">
        <!-- Left column -->
        <div class="grid grid-cols-1 gap-4 lg:col-span-2" id="project_gifts" data-controller="infinite-scroll">
        <section aria-labelledby="participants_section">
          <h2 class="sr-only" id="section-1-title">Relations</h2>
          <div class="overflow-hidden bg-white">
            <div class="p-4">
              <div class="flex flex-wrap">
                <p class=" mt-1 text-sm font-medium text-gray-900 truncate">Relations<%= "(" + @relatives.count.to_s + ")" %></p>
              </div>
              <div class="mt-1 ">
                <ul class=" " id="relatives" data-infinite-scroll-target="entries">
                  <%= render partial: "relative", collection: @relatives, as: :relative, cached: true %>
                </ul>
              </div>
            </div>
                                   <div class="flex justify-end mt-2 mb-6 mr-2 invisible" data-infinite-scroll-target="pagination">
                  <%== render partial: "shared/paginator", locals: { pagy: @pagy } %>
                </div>
              </div>
          </section>
        </div>
        <% if policy([@contact, Relative]).create? %>
          <!-- Right column -->
          <div class="grid grid-cols-1 gap-4 xl:border-l xl:border-gray-200 h-full">
            <section aria-labelledby="add-participant-section" id="search" >
              <%= render partial: "search", locals: { relatives: @relatives, relative: @relative, relation: @relation, contact: @contact }, cached: true %>
            </section>
          </div>
        <% end %>
      </div>
    </main>
  </main>
