<!DOCTYPE html>
<html>
  <head>
    <title>Kutumb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <% if user_signed_in? %>
      <meta name="current-account", content="<%= Current.account.id %>">
    <% end %>
    <meta name="turbo-cache-control" content="no-cache">
    <script defer src="https://unpkg.com/alpinejs@3.7.0/dist/cdn.min.js"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
        <%= stylesheet_link_tag "calender", "data-turbo-track": "reload" %>
  </head>
  <body>
  <div class="pb-8">
    <%= render "shared/navbar" %>
    </div>
    <div class="pt-4">
      <p class="text-sm font-medium text-center notice bg-green-50"><%= notice %></p>
      <p class="text-sm font-medium text-center alert bg-red-50"><%= alert %></p>
    </div>
    <main  >
      <%= yield %>
      <div id="modal"></div>
    </main>
  </body>
</html>
